/*
*
* base24 Sundried
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1a1818;
@define-color base01 #302b2a;
@define-color base02 #4d4d47;
@define-color base03 #6b6b67;
@define-color base04 #8a8a87;
@define-color base05 #a9a9a7;
@define-color base06 #c8c8c8;
@define-color base07 #fffefe;
@define-color base08 #a6463d;
@define-color base09 #9c5f2a;
@define-color base0A #7898f7;
@define-color base0B #577644;
@define-color base0C #9c814e;
@define-color base0D #485a98;
@define-color base0E #854551;
@define-color base0F #53231e;

@define-color base10 #33332f;
@define-color base11 #191917;
@define-color base12 #aa000c;
@define-color base13 #fc6a20;
@define-color base14 #128c20;
@define-color base15 #fad384;
@define-color base16 #7898f7;
@define-color base17 #fc89a0;
