/*
*
* base24 Violet Light
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #fcf4dc;
@define-color base01 #56595c;
@define-color base02 #45484b;
@define-color base03 #686a6a;
@define-color base04 #8c8c8a;
@define-color base05 #afaea9;
@define-color base06 #d3d0c9;
@define-color base07 #c8c5bd;
@define-color base08 #c94c22;
@define-color base09 #b4881d;
@define-color base0A #2075c7;
@define-color base0B #85981c;
@define-color base0C #32a198;
@define-color base0D #2e8bce;
@define-color base0E #d13a82;
@define-color base0F #642611;

@define-color base10 #2e3032;
@define-color base11 #171819;
@define-color base12 #bd3612;
@define-color base13 #a57704;
@define-color base14 #728903;
@define-color base15 #259185;
@define-color base16 #2075c7;
@define-color base17 #c61b6e;
