/*
*
* base24 Tango Adapted
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #feffff;
@define-color base01 #f1f1f1;
@define-color base02 #dcdcdc;
@define-color base03 #cccccc;
@define-color base04 #757575;
@define-color base05 #4f4f4f;
@define-color base06 #323232;
@define-color base07 #000000;
@define-color base08 #ff0000;
@define-color base09 #ef9b00;
@define-color base0A #efca00;
@define-color base0B #59d500;
@define-color base0C #00d0d6;
@define-color base0D #00a1ff;
@define-color base0E #c17ecb;
@define-color base0F #7f0000;

@define-color base10 #5e615c;
@define-color base11 #2f302e;
@define-color base12 #ff0012;
@define-color base13 #fff021;
@define-color base14 #93fe00;
@define-color base15 #00fdff;
@define-color base16 #88c9ff;
@define-color base17 #e8a6e1;
