/*
*
* base24 deep
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #080808;
@define-color base01 #000000;
@define-color base02 #535353;
@define-color base03 #767676;
@define-color base04 #999999;
@define-color base05 #bcbcbc;
@define-color base06 #dfdfdf;
@define-color base07 #fffefe;
@define-color base08 #d60005;
@define-color base09 #d9bc25;
@define-color base0A #9fa8fe;
@define-color base0B #1cd815;
@define-color base0C #4fd2d9;
@define-color base0D #5665fe;
@define-color base0E #af51d9;
@define-color base0F #6b0002;

@define-color base10 #373737;
@define-color base11 #1b1b1b;
@define-color base12 #fb0006;
@define-color base13 #fedc2b;
@define-color base14 #21fe17;
@define-color base15 #8cf9fe;
@define-color base16 #9fa8fe;
@define-color base17 #e099fe;
