/*
*
* base24 Shades Of Purple
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1e1d40;
@define-color base01 #000000;
@define-color base02 #676767;
@define-color base03 #7f7f7f;
@define-color base04 #979797;
@define-color base05 #afafaf;
@define-color base06 #c7c7c7;
@define-color base07 #feffff;
@define-color base08 #d90429;
@define-color base09 #ffe700;
@define-color base0A #6871ff;
@define-color base0B #3ad900;
@define-color base0C #00c5c7;
@define-color base0D #6943ff;
@define-color base0E #ff2b70;
@define-color base0F #6c0214;

@define-color base10 #444444;
@define-color base11 #222222;
@define-color base12 #f9291b;
@define-color base13 #f1d000;
@define-color base14 #42d425;
@define-color base15 #79e7fa;
@define-color base16 #6871ff;
@define-color base17 #ff76ff;
