/*
*
* base24 Highway
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #212224;
@define-color base01 #000000;
@define-color base02 #5c4f49;
@define-color base03 #807672;
@define-color base04 #a49e9b;
@define-color base05 #c8c5c4;
@define-color base06 #ededed;
@define-color base07 #fefffe;
@define-color base08 #cf0d17;
@define-color base09 #ffca3d;
@define-color base0A #4fc2fd;
@define-color base0B #128033;
@define-color base0C #384563;
@define-color base0D #006ab3;
@define-color base0E #6a2674;
@define-color base0F #67060b;

@define-color base10 #3d3430;
@define-color base11 #1e1a18;
@define-color base12 #ef7d17;
@define-color base13 #fff11f;
@define-color base14 #b1d130;
@define-color base15 #5c4f49;
@define-color base16 #4fc2fd;
@define-color base17 #de0070;
