/*
*
* base24 Flat
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #082845;
@define-color base01 #1d2845;
@define-color base02 #2e2e45;
@define-color base03 #444e5b;
@define-color base04 #68717b;
@define-color base05 #8c939a;
@define-color base06 #b0b6ba;
@define-color base07 #e7eced;
@define-color base08 #a82320;
@define-color base09 #e58d11;
@define-color base0A #3c7dd2;
@define-color base0B #2d9440;
@define-color base0C #2c9370;
@define-color base0D #3167ac;
@define-color base0E #781aa0;
@define-color base0F #541110;

@define-color base10 #002240;
@define-color base11 #001629;
@define-color base12 #d4312e;
@define-color base13 #e5be0c;
@define-color base14 #32a548;
@define-color base15 #35b387;
@define-color base16 #3c7dd2;
@define-color base17 #8230a7;
