/*
*
* base24 Red Planet
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #222222;
@define-color base01 #201f1f;
@define-color base02 #676767;
@define-color base03 #7b7773;
@define-color base04 #908880;
@define-color base05 #a4998c;
@define-color base06 #b9aa99;
@define-color base07 #d6bfb8;
@define-color base08 #8c3432;
@define-color base09 #e8bf6a;
@define-color base0A #60827e;
@define-color base0B #728271;
@define-color base0C #5b8390;
@define-color base0D #69809e;
@define-color base0E #896492;
@define-color base0F #461a19;

@define-color base10 #444444;
@define-color base11 #222222;
@define-color base12 #b55242;
@define-color base13 #ebeb91;
@define-color base14 #869985;
@define-color base15 #38add8;
@define-color base16 #60827e;
@define-color base17 #de4873;
