/*
*
* base24 One Black
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #000000;
@define-color base01 #000000;
@define-color base02 #4f5666;
@define-color base03 #545862;
@define-color base04 #9196a1;
@define-color base05 #abb2bf;
@define-color base06 #e6e6e6;
@define-color base07 #ffffff;
@define-color base08 #e05561;
@define-color base09 #d18f52;
@define-color base0A #e6b965;
@define-color base0B #8cc265;
@define-color base0C #42b3c2;
@define-color base0D #4aa5f0;
@define-color base0E #c162de;
@define-color base0F #bf4034;

@define-color base10 #000000;
@define-color base11 #000000;
@define-color base12 #ff616e;
@define-color base13 #f0a45d;
@define-color base14 #a5e075;
@define-color base15 #4cd1e0;
@define-color base16 #4dc4ff;
@define-color base17 #de73ff;
