/*
*
* base24 Gruvbox Dark
* Author: Tinted Theming (https://github.com/tinted-theming), morhetz (https://github.com/morhetz/gruvbox)
*
*/

@define-color base00 #282828;
@define-color base01 #3c3836;
@define-color base02 #504945;
@define-color base03 #665c54;
@define-color base04 #928374;
@define-color base05 #ebdbb2;
@define-color base06 #fbf1c7;
@define-color base07 #f9f5d7;
@define-color base08 #cc241d;
@define-color base09 #d65d0e;
@define-color base0A #d79921;
@define-color base0B #98971a;
@define-color base0C #689d6a;
@define-color base0D #458588;
@define-color base0E #b16286;
@define-color base0F #9d0006;

@define-color base10 #2a2520;
@define-color base11 #1d1d1d;
@define-color base12 #fb4934;
@define-color base13 #fabd2f;
@define-color base14 #b8bb26;
@define-color base15 #8ec07c;
@define-color base16 #83a598;
@define-color base17 #d3869b;
