/*
*
* base24 Pnevma
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1c1c1c;
@define-color base01 #2f2e2d;
@define-color base02 #4a4845;
@define-color base03 #6b6a67;
@define-color base04 #8d8c8a;
@define-color base05 #aeaead;
@define-color base06 #d0d0d0;
@define-color base07 #efefef;
@define-color base08 #a36666;
@define-color base09 #d7af87;
@define-color base0A #a1bdce;
@define-color base0B #90a57d;
@define-color base0C #8adbb4;
@define-color base0D #7fa5bd;
@define-color base0E #c79ec4;
@define-color base0F #513333;

@define-color base10 #31302e;
@define-color base11 #181817;
@define-color base12 #d78787;
@define-color base13 #e4c9af;
@define-color base14 #afbea2;
@define-color base15 #b1e7dd;
@define-color base16 #a1bdce;
@define-color base17 #d7beda;
