/*
*
* base24 CLRS
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #ffffff;
@define-color base01 #000000;
@define-color base02 #545753;
@define-color base03 #6b6d6a;
@define-color base04 #838482;
@define-color base05 #9a9b9a;
@define-color base06 #b2b2b2;
@define-color base07 #ededec;
@define-color base08 #f72729;
@define-color base09 #f96f1c;
@define-color base0A #156ffe;
@define-color base0B #32895c;
@define-color base0C #32c2c0;
@define-color base0D #125ccf;
@define-color base0E #9f00bc;
@define-color base0F #7b1314;

@define-color base10 #383a37;
@define-color base11 #1c1d1b;
@define-color base12 #fb0416;
@define-color base13 #fcd627;
@define-color base14 #2cc631;
@define-color base15 #39d5ce;
@define-color base16 #156ffe;
@define-color base17 #e800b0;
