/*
*
* base24 Paul Millr
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #000000;
@define-color base01 #2a2a2a;
@define-color base02 #666666;
@define-color base03 #7b7b7b;
@define-color base04 #909090;
@define-color base05 #a5a5a5;
@define-color base06 #bbbbbb;
@define-color base07 #ffffff;
@define-color base08 #ff0000;
@define-color base09 #e7bf00;
@define-color base0A #709aed;
@define-color base0B #79ff0f;
@define-color base0C #66ccff;
@define-color base0D #386bd7;
@define-color base0E #b349be;
@define-color base0F #7f0000;

@define-color base10 #444444;
@define-color base11 #222222;
@define-color base12 #ff0080;
@define-color base13 #f3d64e;
@define-color base14 #66ff66;
@define-color base15 #79dff2;
@define-color base16 #709aed;
@define-color base17 #db67e6;
