/*
*
* base24 Birds Of Paradise
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #2a1e1d;
@define-color base01 #573d25;
@define-color base02 #9a6b49;
@define-color base03 #ab8664;
@define-color base04 #bca280;
@define-color base05 #cdbe9b;
@define-color base06 #dfdab7;
@define-color base07 #fff9d4;
@define-color base08 #be2d26;
@define-color base09 #e99c29;
@define-color base0A #b8d3ed;
@define-color base0B #6ba08a;
@define-color base0C #74a5ac;
@define-color base0D #5a86ac;
@define-color base0E #ab80a6;
@define-color base0F #5f1613;

@define-color base10 #664730;
@define-color base11 #332318;
@define-color base12 #e84526;
@define-color base13 #d0d04f;
@define-color base14 #94d7ba;
@define-color base15 #92ced6;
@define-color base16 #b8d3ed;
@define-color base17 #d09dca;
