/*
*
* base24 Treehouse
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #191919;
@define-color base01 #321200;
@define-color base02 #423625;
@define-color base03 #4f4330;
@define-color base04 #5c503c;
@define-color base05 #695d47;
@define-color base06 #776b53;
@define-color base07 #ffc800;
@define-color base08 #b1270e;
@define-color base09 #a9810b;
@define-color base0A #85cfec;
@define-color base0B #44a900;
@define-color base0C #b2591d;
@define-color base0D #578499;
@define-color base0E #96363c;
@define-color base0F #581307;

@define-color base10 #2c2418;
@define-color base11 #16120c;
@define-color base12 #ed5c20;
@define-color base13 #f1b731;
@define-color base14 #55f237;
@define-color base15 #f07d14;
@define-color base16 #85cfec;
@define-color base17 #e04b5a;
