/*
*
* base24 Ciapre
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #181c27;
@define-color base01 #181818;
@define-color base02 #555555;
@define-color base03 #6b685f;
@define-color base04 #817c69;
@define-color base05 #978f73;
@define-color base06 #ada37e;
@define-color base07 #f3f3f3;
@define-color base08 #800009;
@define-color base09 #cc8a3e;
@define-color base0A #2f97c6;
@define-color base0B #48513b;
@define-color base0C #5b4f4a;
@define-color base0D #566d8c;
@define-color base0E #724c7c;
@define-color base0F #400004;

@define-color base10 #383838;
@define-color base11 #1c1c1c;
@define-color base12 #ab3834;
@define-color base13 #dcde7b;
@define-color base14 #a6a65d;
@define-color base15 #f3dab1;
@define-color base16 #2f97c6;
@define-color base17 #d33060;
