/*
*
* base24 Scarlet Protocol
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1b153c;
@define-color base01 #101116;
@define-color base02 #676767;
@define-color base03 #7f7f7f;
@define-color base04 #979797;
@define-color base05 #afafaf;
@define-color base06 #c7c7c7;
@define-color base07 #feffff;
@define-color base08 #ff0051;
@define-color base09 #faf945;
@define-color base0A #6871ff;
@define-color base0B #00dc84;
@define-color base0C #00c5c7;
@define-color base0D #0271b6;
@define-color base0E #c930c7;
@define-color base0F #7f0028;

@define-color base10 #444444;
@define-color base11 #222222;
@define-color base12 #ff6d67;
@define-color base13 #fefb67;
@define-color base14 #5ff967;
@define-color base15 #5ffdff;
@define-color base16 #6871ff;
@define-color base17 #bc35eb;
