/*
*
* base24 One Light
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #e7e7e9;
@define-color base01 #dfdfe1;
@define-color base02 #cacace;
@define-color base03 #a0a1a7;
@define-color base04 #696c77;
@define-color base05 #383a42;
@define-color base06 #202227;
@define-color base07 #090a0b;
@define-color base08 #ca1243;
@define-color base09 #c18401;
@define-color base0A #febb2a;
@define-color base0B #50a14f;
@define-color base0C #0184bc;
@define-color base0D #4078f2;
@define-color base0E #a626a4;
@define-color base0F #986801;

@define-color base10 #f0f0f1;
@define-color base11 #fafafa;
@define-color base12 #ec2258;
@define-color base13 #f4a701;
@define-color base14 #6db76c;
@define-color base15 #01a7ef;
@define-color base16 #709af5;
@define-color base17 #d02fcd;
