/*
*
* base24 Crayon Pony Fish
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #140607;
@define-color base01 #2a1a1c;
@define-color base02 #3c2a2e;
@define-color base03 #473438;
@define-color base04 #523e43;
@define-color base05 #5d484e;
@define-color base06 #685259;
@define-color base07 #af949d;
@define-color base08 #90002a;
@define-color base09 #aa301b;
@define-color base0A #cfc9ff;
@define-color base0B #579523;
@define-color base0C #e8a766;
@define-color base0D #8b87af;
@define-color base0E #682e50;
@define-color base0F #480015;

@define-color base10 #281c1e;
@define-color base11 #140e0f;
@define-color base12 #c5245c;
@define-color base13 #c7371d;
@define-color base14 #8dff56;
@define-color base15 #ffceae;
@define-color base16 #cfc9ff;
@define-color base17 #fb6cb9;
