/*
*
* base24 Builtin Tango Dark
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #000000;
@define-color base01 #000000;
@define-color base02 #545753;
@define-color base03 #737772;
@define-color base04 #939791;
@define-color base05 #b3b7b0;
@define-color base06 #d3d7cf;
@define-color base07 #ededec;
@define-color base08 #cc0000;
@define-color base09 #c4a000;
@define-color base0A #719ecf;
@define-color base0B #4e9a05;
@define-color base0C #05989a;
@define-color base0D #3464a4;
@define-color base0E #74507a;
@define-color base0F #660000;

@define-color base10 #383a37;
@define-color base11 #1c1d1b;
@define-color base12 #ef2828;
@define-color base13 #fce94e;
@define-color base14 #8ae234;
@define-color base15 #34e2e2;
@define-color base16 #719ecf;
@define-color base17 #ad7ea7;
