/*
*
* base24 Slate
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #212121;
@define-color base01 #212121;
@define-color base02 #ffffff;
@define-color base03 #c0f1f8;
@define-color base04 #81e2f0;
@define-color base05 #42d3e8;
@define-color base06 #02c4e0;
@define-color base07 #e0e0e0;
@define-color base08 #e1a7bf;
@define-color base09 #c4c9bf;
@define-color base0A #79afd2;
@define-color base0B #80d778;
@define-color base0C #14ab9c;
@define-color base0D #254a49;
@define-color base0E #a380d3;
@define-color base0F #70535f;

@define-color base10 #aaaaaa;
@define-color base11 #555555;
@define-color base12 #ffccd8;
@define-color base13 #d0cbc9;
@define-color base14 #bdffa8;
@define-color base15 #8bdee0;
@define-color base16 #79afd2;
@define-color base17 #c4a7d8;
