/*
*
* base24 Toy Chest
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #23364a;
@define-color base01 #2c3f57;
@define-color base02 #326889;
@define-color base03 #2f8288;
@define-color base04 #2b9c86;
@define-color base05 #27b684;
@define-color base06 #23d082;
@define-color base07 #d4d4d4;
@define-color base08 #be2d26;
@define-color base09 #da8e26;
@define-color base0A #33a5d9;
@define-color base0B #199171;
@define-color base0C #35a08f;
@define-color base0D #325d96;
@define-color base0E #8a5ddb;
@define-color base0F #5f1613;

@define-color base10 #21455b;
@define-color base11 #10222d;
@define-color base12 #dd5943;
@define-color base13 #e7d74b;
@define-color base14 #30cf7b;
@define-color base15 #41c3ad;
@define-color base16 #33a5d9;
@define-color base17 #ad6bdc;
