/*
*
* base24 Wryan
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #101010;
@define-color base01 #333333;
@define-color base02 #3d3d3d;
@define-color base03 #505456;
@define-color base04 #636c6f;
@define-color base05 #768488;
@define-color base06 #899ca1;
@define-color base07 #c0c0c0;
@define-color base08 #8c4665;
@define-color base09 #7c7c99;
@define-color base0A #477ab3;
@define-color base0B #287373;
@define-color base0C #31658c;
@define-color base0D #395573;
@define-color base0E #5e468c;
@define-color base0F #462332;

@define-color base10 #282828;
@define-color base11 #141414;
@define-color base12 #bf4d80;
@define-color base13 #9e9ecb;
@define-color base14 #53a6a6;
@define-color base15 #6096bf;
@define-color base16 #477ab3;
@define-color base17 #7e62b3;
