/*
*
* base24 The Hulk
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1b1d1e;
@define-color base01 #1b1d1e;
@define-color base02 #505354;
@define-color base03 #727473;
@define-color base04 #949592;
@define-color base05 #b6b6b1;
@define-color base06 #d8d8d0;
@define-color base07 #e5e5e0;
@define-color base08 #259d1a;
@define-color base09 #62e456;
@define-color base0A #4f6a95;
@define-color base0B #13ce2f;
@define-color base0C #378ca9;
@define-color base0D #2424f4;
@define-color base0E #641e73;
@define-color base0F #124e0d;

@define-color base10 #353738;
@define-color base11 #1a1b1c;
@define-color base12 #8dff2a;
@define-color base13 #3afe15;
@define-color base14 #48ff76;
@define-color base15 #3f85a5;
@define-color base16 #4f6a95;
@define-color base17 #72579d;
