/*
*
* base24 Tango Half Adapted
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #feffff;
@define-color base01 #f1f1f1;
@define-color base02 #dcdcdc;
@define-color base03 #cccccc;
@define-color base04 #757575;
@define-color base05 #4f4f4f;
@define-color base06 #323232;
@define-color base07 #000000;
@define-color base08 #ff0000;
@define-color base09 #e28400;
@define-color base0A #e2bf00;
@define-color base0B #4cc300;
@define-color base0C #00bdc3;
@define-color base0D #008df5;
@define-color base0E #a86bb2;
@define-color base0F #7f0000;

@define-color base10 #50524e;
@define-color base11 #282927;
@define-color base12 #ff0012;
@define-color base13 #ffeb00;
@define-color base14 #8af600;
@define-color base15 #00f6fa;
@define-color base16 #75beff;
@define-color base17 #d798d0;
