/*
*
* base24 Space Gray Eighties
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #212121;
@define-color base01 #15171c;
@define-color base02 #555555;
@define-color base03 #7b7a79;
@define-color base04 #a1a09e;
@define-color base05 #c7c6c2;
@define-color base06 #eeece7;
@define-color base07 #ffffff;
@define-color base08 #ec5f67;
@define-color base09 #fdc253;
@define-color base0A #4d83d0;
@define-color base0B #80a763;
@define-color base0C #57c2c0;
@define-color base0D #5485c0;
@define-color base0E #bf83c0;
@define-color base0F #762f33;

@define-color base10 #383838;
@define-color base11 #1c1c1c;
@define-color base12 #ff6973;
@define-color base13 #ffd156;
@define-color base14 #93d393;
@define-color base15 #83e8e4;
@define-color base16 #4d83d0;
@define-color base17 #ff55ff;
