/*
*
* base24 Japanesque
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1d1d1d;
@define-color base01 #343835;
@define-color base02 #585a58;
@define-color base03 #80827f;
@define-color base04 #a8aaa7;
@define-color base05 #d0d2ce;
@define-color base06 #f9faf6;
@define-color base07 #b1b5ae;
@define-color base08 #ce3e60;
@define-color base09 #e8b32a;
@define-color base0A #135879;
@define-color base0B #7bb75b;
@define-color base0C #389aac;
@define-color base0D #4c99d3;
@define-color base0E #a57fc4;
@define-color base0F #671f30;

@define-color base10 #3a3c3a;
@define-color base11 #1d1e1d;
@define-color base12 #d18ea6;
@define-color base13 #77592e;
@define-color base14 #767e2b;
@define-color base15 #76bbca;
@define-color base16 #135879;
@define-color base17 #5f4190;
