/*
*
* base24 Mountain
* Author: Stefan Weigl-Bosker (https://github.com/sweiglbosker), based on Mountain Theme (https://github.com/mountain-theme/Mountain)
*
*/

@define-color base00 #0f0f0f;
@define-color base01 #191919;
@define-color base02 #262626;
@define-color base03 #393939;
@define-color base04 #4c4c4c;
@define-color base05 #cacaca;
@define-color base06 #e7e7e7;
@define-color base07 #f0f0f0;
@define-color base08 #ac8a8c;
@define-color base09 #c6a679;
@define-color base0A #aca98a;
@define-color base0B #8aac8b;
@define-color base0C #8aabac;
@define-color base0D #8f8aac;
@define-color base0E #ac8aac;
@define-color base0F #ac8a8c;

@define-color base10 #0d0d0d;
@define-color base11 #0a0a0a;
@define-color base12 #c49ea0;
@define-color base13 #c4c19e;
@define-color base14 #9ec49f;
@define-color base15 #9ec3c4;
@define-color base16 #a39ec4;
@define-color base17 #c49ec4;
