/*
*
* base24 Night Lion V2
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #171717;
@define-color base01 #4c4c4c;
@define-color base02 #555555;
@define-color base03 #6e6e6e;
@define-color base04 #888888;
@define-color base05 #a1a1a1;
@define-color base06 #bbbbbb;
@define-color base07 #ffffff;
@define-color base08 #bb0000;
@define-color base09 #f2f067;
@define-color base0A #62cae7;
@define-color base0B #03f622;
@define-color base0C #00d9df;
@define-color base0D #63d0f0;
@define-color base0E #ce6fda;
@define-color base0F #5d0000;

@define-color base10 #383838;
@define-color base11 #1c1c1c;
@define-color base12 #ff5555;
@define-color base13 #ffff55;
@define-color base14 #7df61c;
@define-color base15 #00ccd7;
@define-color base16 #62cae7;
@define-color base17 #ff9af5;
