/*
*
* base24 Front End Delight
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1b1b1d;
@define-color base01 #242426;
@define-color base02 #5eac6c;
@define-color base03 #71ac7c;
@define-color base04 #85ac8c;
@define-color base05 #98ac9c;
@define-color base06 #acacac;
@define-color base07 #8b735a;
@define-color base08 #f8501a;
@define-color base09 #f9761d;
@define-color base0A #3393c9;
@define-color base0B #565746;
@define-color base0C #3ba0a5;
@define-color base0D #2c70b7;
@define-color base0E #f02d4e;
@define-color base0F #7c280d;

@define-color base10 #3e7248;
@define-color base11 #1f3924;
@define-color base12 #f64319;
@define-color base13 #fcc224;
@define-color base14 #74eb4c;
@define-color base15 #4ebce5;
@define-color base16 #3393c9;
@define-color base17 #e75e4e;
