/*
*
* base24 Alien Blood
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #0f160f;
@define-color base01 #112615;
@define-color base02 #3c4711;
@define-color base03 #46542a;
@define-color base04 #506243;
@define-color base05 #5a6f5c;
@define-color base06 #647d75;
@define-color base07 #73f990;
@define-color base08 #7f2b26;
@define-color base09 #707f23;
@define-color base0A #00a9df;
@define-color base0B #2f7e25;
@define-color base0C #317f76;
@define-color base0D #2f697f;
@define-color base0E #47577e;
@define-color base0F #3f1513;

@define-color base10 #282f0b;
@define-color base11 #141705;
@define-color base12 #df8008;
@define-color base13 #bde000;
@define-color base14 #18e000;
@define-color base15 #00dfc3;
@define-color base16 #00a9df;
@define-color base17 #0058df;
