/*
*
* base24 Floraverse
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #0e0c15;
@define-color base01 #08002e;
@define-color base02 #331e4d;
@define-color base03 #634e67;
@define-color base04 #937f82;
@define-color base05 #c3af9d;
@define-color base06 #f3e0b8;
@define-color base07 #fff5db;
@define-color base08 #64002c;
@define-color base09 #cd751c;
@define-color base0A #40a4cf;
@define-color base0B #5d731a;
@define-color base0C #42a38c;
@define-color base0D #1d6da1;
@define-color base0E #b7077e;
@define-color base0F #320016;

@define-color base10 #221433;
@define-color base11 #110a19;
@define-color base12 #d02063;
@define-color base13 #fac357;
@define-color base14 #b4ce59;
@define-color base15 #62caa8;
@define-color base16 #40a4cf;
@define-color base17 #f12aae;
