/*
*
* base24 Monokai Vivid
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #121212;
@define-color base01 #323232;
@define-color base02 #424242;
@define-color base03 #525252;
@define-color base04 #c0c0c0;
@define-color base05 #dfdfdf;
@define-color base06 #f1f1f1;
@define-color base07 #ffffff;
@define-color base08 #fa2834;
@define-color base09 #fec50a;
@define-color base0A #fef20a;
@define-color base0B #97e123;
@define-color base0C #01b6ed;
@define-color base0D #0442fe;
@define-color base0E #f800f8;
@define-color base0F #7d141a;

@define-color base10 #565656;
@define-color base11 #2b2b2b;
@define-color base12 #f5669c;
@define-color base13 #fef26c;
@define-color base14 #b0e05e;
@define-color base15 #50cdfe;
@define-color base16 #0442fe;
@define-color base17 #f200f5;
