/*
*
* base24 Twilight
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #141414;
@define-color base01 #141414;
@define-color base02 #262626;
@define-color base03 #5c5c51;
@define-color base04 #92927c;
@define-color base05 #c8c8a7;
@define-color base06 #feffd3;
@define-color base07 #feffd3;
@define-color base08 #c06c43;
@define-color base09 #c2a86c;
@define-color base0A #5a5d61;
@define-color base0B #afb979;
@define-color base0C #778284;
@define-color base0D #444649;
@define-color base0E #b4be7b;
@define-color base0F #603621;

@define-color base10 #191919;
@define-color base11 #0c0c0c;
@define-color base12 #dd7c4c;
@define-color base13 #e1c47d;
@define-color base14 #cbd88c;
@define-color base15 #8a989a;
@define-color base16 #5a5d61;
@define-color base17 #d0db8e;
