/*
*
* base24 Smyck
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1b1b1b;
@define-color base01 #000000;
@define-color base02 #7a7a7a;
@define-color base03 #838383;
@define-color base04 #8d8d8d;
@define-color base05 #969696;
@define-color base06 #a0a0a0;
@define-color base07 #f7f7f7;
@define-color base08 #b74131;
@define-color base09 #c4a400;
@define-color base0A #8dcff0;
@define-color base0B #7da900;
@define-color base0C #207383;
@define-color base0D #62a3c4;
@define-color base0E #b98acc;
@define-color base0F #5b2018;

@define-color base10 #515151;
@define-color base11 #282828;
@define-color base12 #d6837b;
@define-color base13 #fee14d;
@define-color base14 #c4f036;
@define-color base15 #69d9cf;
@define-color base16 #8dcff0;
@define-color base17 #f799ff;
