/*
*
* base24 Github Light
* Author: Tinted Theming (https://github.com/tinted-theming)
*
*/

@define-color base00 #eaeef2;
@define-color base01 #d0d7de;
@define-color base02 #afb8c1;
@define-color base03 #8c959f;
@define-color base04 #6e7781;
@define-color base05 #424a53;
@define-color base06 #32383f;
@define-color base07 #1f2328;
@define-color base08 #fa4549;
@define-color base09 #e16f24;
@define-color base0A #bf8700;
@define-color base0B #2da44e;
@define-color base0C #339d9b;
@define-color base0D #218bff;
@define-color base0E #a475f9;
@define-color base0F #4d2d00;

@define-color base10 #1f2328;
@define-color base11 #000000;
@define-color base12 #ff8182;
@define-color base13 #d4a72c;
@define-color base14 #4ac26b;
@define-color base15 #49bcb7;
@define-color base16 #54aeff;
@define-color base17 #c297ff;
