/*
*
* base24 IC-Orange-PPL
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #262626;
@define-color base01 #000000;
@define-color base02 #6a4e29;
@define-color base03 #8f6c41;
@define-color base04 #b48b59;
@define-color base05 #d9a971;
@define-color base06 #ffc88a;
@define-color base07 #f9f9fe;
@define-color base08 #c03900;
@define-color base09 #caae00;
@define-color base0A #ffbd54;
@define-color base0B #a3a900;
@define-color base0C #f79400;
@define-color base0D #bd6c00;
@define-color base0E #fb5d00;
@define-color base0F #601c00;

@define-color base10 #46341b;
@define-color base11 #231a0d;
@define-color base12 #ff8b67;
@define-color base13 #ffe36e;
@define-color base14 #f6ff3f;
@define-color base15 #c59752;
@define-color base16 #ffbd54;
@define-color base17 #fc874f;
