/*
*
* base24 Lab Fox
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #2e2e2e;
@define-color base01 #2e2e2e;
@define-color base02 #454545;
@define-color base03 #737373;
@define-color base04 #a1a2a2;
@define-color base05 #cfd0d0;
@define-color base06 #feffff;
@define-color base07 #feffff;
@define-color base08 #fc6d26;
@define-color base09 #fca121;
@define-color base0A #db501f;
@define-color base0B #3eb383;
@define-color base0C #6e49cb;
@define-color base0D #db3b21;
@define-color base0E #380d75;
@define-color base0F #7e3613;

@define-color base10 #2e2e2e;
@define-color base11 #171717;
@define-color base12 #ff6517;
@define-color base13 #fca012;
@define-color base14 #52e9a8;
@define-color base15 #7d53e7;
@define-color base16 #db501f;
@define-color base17 #441090;
