/*
*
* base24 Forest Blue
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #051519;
@define-color base01 #333333;
@define-color base02 #3d3d3d;
@define-color base03 #666361;
@define-color base04 #8f8a85;
@define-color base05 #b8b1a9;
@define-color base06 #e2d8cd;
@define-color base07 #e2d8cd;
@define-color base08 #f8818e;
@define-color base09 #1a8d63;
@define-color base0A #39a7a2;
@define-color base0B #92d3a2;
@define-color base0C #31658c;
@define-color base0D #8ed0ce;
@define-color base0E #5e468c;
@define-color base0F #7c4047;

@define-color base10 #282828;
@define-color base11 #141414;
@define-color base12 #fb3d66;
@define-color base13 #2fc859;
@define-color base14 #6bb48d;
@define-color base15 #6096bf;
@define-color base16 #39a7a2;
@define-color base17 #7e62b3;
