/*
*
* base24 Broadcast
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #2b2b2b;
@define-color base01 #000000;
@define-color base02 #323232;
@define-color base03 #656565;
@define-color base04 #989898;
@define-color base05 #cbcbcb;
@define-color base06 #ffffff;
@define-color base07 #ffffff;
@define-color base08 #da4939;
@define-color base09 #ffd24a;
@define-color base0A #9fcef0;
@define-color base0B #519f50;
@define-color base0C #6e9cbe;
@define-color base0D #6d9cbe;
@define-color base0E #d0d0ff;
@define-color base0F #6d241c;

@define-color base10 #212121;
@define-color base11 #101010;
@define-color base12 #ff7b6b;
@define-color base13 #ffff7c;
@define-color base14 #83d182;
@define-color base15 #a0cef0;
@define-color base16 #9fcef0;
@define-color base17 #ffffff;
