/*
*
* base24 Purplepeter
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #2a1a4a;
@define-color base01 #0a041f;
@define-color base02 #100b22;
@define-color base03 #4b3639;
@define-color base04 #876251;
@define-color base05 #c38e69;
@define-color base06 #ffba81;
@define-color base07 #b9aed3;
@define-color base08 #ff786c;
@define-color base09 #efdeab;
@define-color base0A #79daed;
@define-color base0B #98b481;
@define-color base0C #b98cff;
@define-color base0D #66d9ef;
@define-color base0E #e68ecd;
@define-color base0F #7f3c36;

@define-color base10 #0a0716;
@define-color base11 #05030b;
@define-color base12 #f89f92;
@define-color base13 #f1e9bf;
@define-color base14 #b4bd8e;
@define-color base15 #a0a0d6;
@define-color base16 #79daed;
@define-color base17 #b991d4;
