/*
*
* base24 Rippedcasts
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #2b2b2b;
@define-color base01 #000000;
@define-color base02 #666666;
@define-color base03 #7c7c7c;
@define-color base04 #929292;
@define-color base05 #a8a8a8;
@define-color base06 #bfbfbf;
@define-color base07 #e5e5e5;
@define-color base08 #cdaf95;
@define-color base09 #bfbb1f;
@define-color base0A #86bdc9;
@define-color base0B #a7ff60;
@define-color base0C #59647e;
@define-color base0D #75a5b0;
@define-color base0E #ff73fd;
@define-color base0F #66574a;

@define-color base10 #444444;
@define-color base11 #222222;
@define-color base12 #eecbad;
@define-color base13 #e5e500;
@define-color base14 #bcee68;
@define-color base15 #8c9bc3;
@define-color base16 #86bdc9;
@define-color base17 #e500e5;
