/*
*
* base24 Arthur
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1c1c1c;
@define-color base01 #3d352a;
@define-color base02 #554444;
@define-color base03 #6e5d59;
@define-color base04 #88776e;
@define-color base05 #a19083;
@define-color base06 #bbaa99;
@define-color base07 #ddccbb;
@define-color base08 #cd5c5c;
@define-color base09 #e8ae5b;
@define-color base0A #87ceeb;
@define-color base0B #86af80;
@define-color base0C #b0c4de;
@define-color base0D #6495ed;
@define-color base0E #deb887;
@define-color base0F #662e2e;

@define-color base10 #382d2d;
@define-color base11 #1c1616;
@define-color base12 #cc5533;
@define-color base13 #ffa75d;
@define-color base14 #88aa22;
@define-color base15 #b0c4de;
@define-color base16 #87ceeb;
@define-color base17 #996600;
