/*
*
* base24 Challenger Deep
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1e1c31;
@define-color base01 #141127;
@define-color base02 #565575;
@define-color base03 #6a6c8a;
@define-color base04 #7e84a0;
@define-color base05 #929bb6;
@define-color base06 #a6b3cc;
@define-color base07 #cbe3e7;
@define-color base08 #ff5458;
@define-color base09 #ffb378;
@define-color base0A #91ddff;
@define-color base0B #62d196;
@define-color base0C #63f2f1;
@define-color base0D #65b2ff;
@define-color base0E #906cff;
@define-color base0F #7f2a2c;

@define-color base10 #39384e;
@define-color base11 #1c1c27;
@define-color base12 #ff8080;
@define-color base13 #ffe9aa;
@define-color base14 #95ffa4;
@define-color base15 #aaffe4;
@define-color base16 #91ddff;
@define-color base17 #c991e1;
