/*
*
* base24 Piatto Light
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #ffffff;
@define-color base01 #f1f1f1;
@define-color base02 #e1e1e1;
@define-color base03 #c1c1c1;
@define-color base04 #717171;
@define-color base05 #515151;
@define-color base06 #414141;
@define-color base07 #212121;
@define-color base08 #b23771;
@define-color base09 #cd6f34;
@define-color base0A #cda434;
@define-color base0B #66781e;
@define-color base0C #1e7878;
@define-color base0D #3c5ea8;
@define-color base0E #a454b2;
@define-color base0F #591b38;

@define-color base10 #2a2a2a;
@define-color base11 #151515;
@define-color base12 #db3365;
@define-color base13 #cd6f34;
@define-color base14 #829429;
@define-color base15 #175e5e;
@define-color base16 #3c5ea8;
@define-color base17 #a454b2;
