/*
*
* base24 Chalk
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #151515;
@define-color base01 #202020;
@define-color base02 #303030;
@define-color base03 #505050;
@define-color base04 #b0b0b0;
@define-color base05 #d0d0d0;
@define-color base06 #e0e0e0;
@define-color base07 #f5f5f5;
@define-color base08 #fa859c;
@define-color base09 #ea9971;
@define-color base0A #ddb26f;
@define-color base0B #a1bb54;
@define-color base0C #10bcad;
@define-color base0D #5ab9ed;
@define-color base0E #db8fea;
@define-color base0F #deaf8f;

@define-color base10 #0b0b0b;
@define-color base11 #060606;
@define-color base12 #fb9fb1;
@define-color base13 #eda987;
@define-color base14 #acc267;
@define-color base15 #12cfc0;
@define-color base16 #6fc2ef;
@define-color base17 #e1a3ee;
