/*
*
* base24 Jet Brains Darcula
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #202020;
@define-color base01 #000000;
@define-color base02 #555555;
@define-color base03 #6b6b6b;
@define-color base04 #818181;
@define-color base05 #979797;
@define-color base06 #adadad;
@define-color base07 #eeeeee;
@define-color base08 #fa5355;
@define-color base09 #c2c300;
@define-color base0A #6d9df1;
@define-color base0B #126e00;
@define-color base0C #33c2c1;
@define-color base0D #4581eb;
@define-color base0E #fa54ff;
@define-color base0F #7d292a;

@define-color base10 #383838;
@define-color base11 #1c1c1c;
@define-color base12 #fb7172;
@define-color base13 #ffff00;
@define-color base14 #67ff4f;
@define-color base15 #60d3d1;
@define-color base16 #6d9df1;
@define-color base17 #fb82ff;
