/*
*
* base24 Earthsong
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #282420;
@define-color base01 #111417;
@define-color base02 #665e54;
@define-color base03 #857769;
@define-color base04 #a5917e;
@define-color base05 #c5ab93;
@define-color base06 #e5c5a9;
@define-color base07 #f6f6ec;
@define-color base08 #c84134;
@define-color base09 #f4ae2e;
@define-color base0A #5ed9ff;
@define-color base0B #84c44b;
@define-color base0C #4f9452;
@define-color base0D #1397b9;
@define-color base0E #d0623c;
@define-color base0F #64201a;

@define-color base10 #443e38;
@define-color base11 #221f1c;
@define-color base12 #ff6459;
@define-color base13 #dfd561;
@define-color base14 #97e035;
@define-color base15 #83ef88;
@define-color base16 #5ed9ff;
@define-color base17 #ff9168;
