/*
*
* base24 Mona Lisa
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #110b0d;
@define-color base01 #341a0d;
@define-color base02 #874227;
@define-color base03 #a26734;
@define-color base04 #be8c41;
@define-color base05 #dab14e;
@define-color base06 #f6d75c;
@define-color base07 #ffe597;
@define-color base08 #9b281b;
@define-color base09 #c26e27;
@define-color base0A #9eb2b3;
@define-color base0B #626132;
@define-color base0C #588056;
@define-color base0D #515b5c;
@define-color base0E #9b1d29;
@define-color base0F #4d140d;

@define-color base10 #5a2c1a;
@define-color base11 #2d160d;
@define-color base12 #ff4230;
@define-color base13 #ff9565;
@define-color base14 #b3b163;
@define-color base15 #89cc8e;
@define-color base16 #9eb2b3;
@define-color base17 #ff5b6a;
