/*
*
* base24 Kibble
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #0e100a;
@define-color base01 #4d4d4d;
@define-color base02 #5a5a5a;
@define-color base03 #7c777c;
@define-color base04 #9e959e;
@define-color base05 #c0b3c0;
@define-color base06 #e2d1e3;
@define-color base07 #ffffff;
@define-color base08 #c70031;
@define-color base09 #d8e30e;
@define-color base0A #97a4f7;
@define-color base0B #29cf13;
@define-color base0C #0798ab;
@define-color base0D #3449d1;
@define-color base0E #8400ff;
@define-color base0F #630018;

@define-color base10 #3c3c3c;
@define-color base11 #1e1e1e;
@define-color base12 #f01578;
@define-color base13 #f3f79e;
@define-color base14 #6ce05c;
@define-color base15 #68f2e0;
@define-color base16 #97a4f7;
@define-color base17 #c495f0;
