/*
*
* base24 Hacktober
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #141414;
@define-color base01 #191918;
@define-color base02 #2c2b2a;
@define-color base03 #5d5b59;
@define-color base04 #8e8c88;
@define-color base05 #bfbdb7;
@define-color base06 #f1eee7;
@define-color base07 #ffffff;
@define-color base08 #b34538;
@define-color base09 #d08949;
@define-color base0A #5389c5;
@define-color base0B #587744;
@define-color base0C #ac9166;
@define-color base0D #206ec5;
@define-color base0E #864651;
@define-color base0F #59221c;

@define-color base10 #1d1c1c;
@define-color base11 #0e0e0e;
@define-color base12 #b33323;
@define-color base13 #c75a22;
@define-color base14 #42824a;
@define-color base15 #ebc587;
@define-color base16 #5389c5;
@define-color base17 #e795a5;
