/*
*
* base24 One Half Light
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #2a2b32;
@define-color base01 #373942;
@define-color base02 #4f525d;
@define-color base03 #797c84;
@define-color base04 #a4a6ab;
@define-color base05 #cfd0d2;
@define-color base06 #fafafa;
@define-color base07 #ffffff;
@define-color base08 #e45649;
@define-color base09 #c08400;
@define-color base0A #c0aa00;
@define-color base0B #4fa14f;
@define-color base0C #0996b3;
@define-color base0D #0084bc;
@define-color base0E #a625a4;
@define-color base0F #722b24;

@define-color base10 #34363e;
@define-color base11 #1a1b1f;
@define-color base12 #df6c75;
@define-color base13 #e4c07a;
@define-color base14 #98c379;
@define-color base15 #56b5c1;
@define-color base16 #61afef;
@define-color base17 #c577dd;
