/*
*
* base24 Rebecca
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #292a44;
@define-color base01 #12131d;
@define-color base02 #666699;
@define-color base03 #8585ac;
@define-color base04 #a4a4c0;
@define-color base05 #c3c3d4;
@define-color base06 #e3e2e8;
@define-color base07 #f3f2f8;
@define-color base08 #dd7655;
@define-color base09 #f2e7b7;
@define-color base0A #69bffa;
@define-color base0B #04dbb4;
@define-color base0C #56d3c1;
@define-color base0D #7aa5ff;
@define-color base0E #be9bf8;
@define-color base0F #6e3b2a;

@define-color base10 #444466;
@define-color base11 #222233;
@define-color base12 #ff91cd;
@define-color base13 #fefca8;
@define-color base14 #00e9c0;
@define-color base15 #8bfce1;
@define-color base16 #69bffa;
@define-color base17 #c07ff8;
