/*
*
* base24 Lavandula
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #050014;
@define-color base01 #230045;
@define-color base02 #372c46;
@define-color base03 #463c53;
@define-color base04 #554d61;
@define-color base05 #645d6f;
@define-color base06 #736e7d;
@define-color base07 #8c91fa;
@define-color base08 #7c1525;
@define-color base09 #7f6f49;
@define-color base0A #8e86df;
@define-color base0B #337e6f;
@define-color base0C #57767f;
@define-color base0D #4f4a7f;
@define-color base0E #593f7e;
@define-color base0F #3e0a12;

@define-color base10 #241d2e;
@define-color base11 #120e17;
@define-color base12 #df5066;
@define-color base13 #e0c286;
@define-color base14 #52e0c4;
@define-color base15 #9ad3df;
@define-color base16 #8e86df;
@define-color base17 #a675df;
