/*
*
* base24 Idle Toes
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #323232;
@define-color base01 #323232;
@define-color base02 #535353;
@define-color base03 #797979;
@define-color base04 #a0a09f;
@define-color base05 #c7c7c5;
@define-color base06 #eeeeec;
@define-color base07 #ffffff;
@define-color base08 #d25252;
@define-color base09 #ffc66d;
@define-color base0A #5eb7f7;
@define-color base0B #7fe173;
@define-color base0C #bed6ff;
@define-color base0D #4098ff;
@define-color base0E #f57fff;
@define-color base0F #692929;

@define-color base10 #373737;
@define-color base11 #1b1b1b;
@define-color base12 #f07070;
@define-color base13 #ffe48b;
@define-color base14 #9dff90;
@define-color base15 #dcf4ff;
@define-color base16 #5eb7f7;
@define-color base17 #ff9dff;
