/*
*
* base24 Seafoam Pastel
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #243434;
@define-color base01 #757575;
@define-color base02 #8a8a8a;
@define-color base03 #9f9f9f;
@define-color base04 #b5b5b5;
@define-color base05 #cacaca;
@define-color base06 #e0e0e0;
@define-color base07 #e0e0e0;
@define-color base08 #825d4d;
@define-color base09 #ada16d;
@define-color base0A #79c3cf;
@define-color base0B #718c61;
@define-color base0C #719393;
@define-color base0D #4d7b82;
@define-color base0E #8a7167;
@define-color base0F #412e26;

@define-color base10 #5c5c5c;
@define-color base11 #2e2e2e;
@define-color base12 #cf9379;
@define-color base13 #fae79d;
@define-color base14 #98d9aa;
@define-color base15 #ade0e0;
@define-color base16 #79c3cf;
@define-color base17 #d6b2a1;
