/*
*
* base24 Sea Shells
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #08131a;
@define-color base01 #17384c;
@define-color base02 #424b52;
@define-color base03 #696660;
@define-color base04 #90816f;
@define-color base05 #b79c7e;
@define-color base06 #deb88d;
@define-color base07 #fee3cd;
@define-color base08 #d15023;
@define-color base09 #fca02f;
@define-color base0A #1bbcdd;
@define-color base0B #027c9b;
@define-color base0C #50a3b5;
@define-color base0D #1e4950;
@define-color base0E #68d3f1;
@define-color base0F #682811;

@define-color base10 #2c3236;
@define-color base11 #16191b;
@define-color base12 #d38677;
@define-color base13 #fdd29e;
@define-color base14 #618c98;
@define-color base15 #86abb3;
@define-color base16 #1bbcdd;
@define-color base17 #bbe3ee;
