/*
*
* base24 Catppuccin Mocha
* Author: https://github.com/catppuccin/catppuccin
*
*/

@define-color base00 #1e1e2e;
@define-color base01 #181825;
@define-color base02 #313244;
@define-color base03 #45475a;
@define-color base04 #585b70;
@define-color base05 #cdd6f4;
@define-color base06 #f5e0dc;
@define-color base07 #b4befe;
@define-color base08 #f38ba8;
@define-color base09 #fab387;
@define-color base0A #f9e2af;
@define-color base0B #a6e3a1;
@define-color base0C #94e2d5;
@define-color base0D #89b4fa;
@define-color base0E #cba6f7;
@define-color base0F #f2cdcd;

@define-color base10 #181825;
@define-color base11 #11111b;
@define-color base12 #eba0ac;
@define-color base13 #f5e0dc;
@define-color base14 #a6e3a1;
@define-color base15 #89dceb;
@define-color base16 #74c7ec;
@define-color base17 #f5c2e7;
