/*
*
* base24 Firefox Dev
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #0e1011;
@define-color base01 #002731;
@define-color base02 #001e26;
@define-color base03 #374d53;
@define-color base04 #6e7d81;
@define-color base05 #a5acae;
@define-color base06 #dcdcdc;
@define-color base07 #e2e2e2;
@define-color base08 #e63853;
@define-color base09 #a57705;
@define-color base0A #006fc0;
@define-color base0B #5eb83c;
@define-color base0C #4b73a2;
@define-color base0D #359ddf;
@define-color base0E #d75cff;
@define-color base0F #731c29;

@define-color base10 #001419;
@define-color base11 #000a0c;
@define-color base12 #e1003f;
@define-color base13 #cc9308;
@define-color base14 #1d9000;
@define-color base15 #005794;
@define-color base16 #006fc0;
@define-color base17 #a200da;
