/*
*
* base24 Spacedust
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #0a1e24;
@define-color base01 #6e5246;
@define-color base02 #674c31;
@define-color base03 #897558;
@define-color base04 #ab9e7f;
@define-color base05 #cdc7a6;
@define-color base06 #f0f1ce;
@define-color base07 #fefff0;
@define-color base08 #e35a00;
@define-color base09 #e3cd7b;
@define-color base0A #67a0cd;
@define-color base0B #5cab96;
@define-color base0C #06afc7;
@define-color base0D #0e548b;
@define-color base0E #e35a00;
@define-color base0F #712d00;

@define-color base10 #443220;
@define-color base11 #221910;
@define-color base12 #ff8a39;
@define-color base13 #ffc777;
@define-color base14 #adcab8;
@define-color base15 #83a6b3;
@define-color base16 #67a0cd;
@define-color base17 #ff8a39;
