/*
*
* base24 Cobalt Neon
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #142838;
@define-color base01 #142630;
@define-color base02 #fff688;
@define-color base03 #eeca92;
@define-color base04 #dd9e9c;
@define-color base05 #cc72a6;
@define-color base06 #ba45b1;
@define-color base07 #8ff586;
@define-color base08 #ff2320;
@define-color base09 #e9e75c;
@define-color base0A #3c7dd2;
@define-color base0B #3aa5ff;
@define-color base0C #8ff586;
@define-color base0D #8ff586;
@define-color base0E #781aa0;
@define-color base0F #7f1110;

@define-color base10 #aaa45a;
@define-color base11 #55522d;
@define-color base12 #d4312e;
@define-color base13 #e9f06d;
@define-color base14 #8ff586;
@define-color base15 #6cbc67;
@define-color base16 #3c7dd2;
@define-color base17 #8230a7;
