/*
*
* base24 Nocturnal Winter
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #0d0d17;
@define-color base01 #4c4c4c;
@define-color base02 #7f7f7f;
@define-color base03 #9e9e9e;
@define-color base04 #bdbdbd;
@define-color base05 #dcdcdc;
@define-color base06 #fbfbfb;
@define-color base07 #ffffff;
@define-color base08 #f12d52;
@define-color base09 #f5f079;
@define-color base0A #6095fe;
@define-color base0B #08cd7d;
@define-color base0C #09c87a;
@define-color base0D #3081df;
@define-color base0E #fe2a6c;
@define-color base0F #781629;

@define-color base10 #545454;
@define-color base11 #2a2a2a;
@define-color base12 #f16c85;
@define-color base13 #fefb67;
@define-color base14 #0ae78d;
@define-color base15 #0ae78d;
@define-color base16 #6095fe;
@define-color base17 #ff78a2;
