/*
*
* base24 Medallion
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1d1808;
@define-color base01 #000000;
@define-color base02 #5e5118;
@define-color base03 #786d38;
@define-color base04 #938958;
@define-color base05 #aea578;
@define-color base06 #c9c199;
@define-color base07 #fed597;
@define-color base08 #b54c00;
@define-color base09 #d2bd25;
@define-color base0A #abb8ff;
@define-color base0B #7c8a16;
@define-color base0C #906b25;
@define-color base0D #606baf;
@define-color base0E #8b5990;
@define-color base0F #5a2600;

@define-color base10 #3e3610;
@define-color base11 #1f1b08;
@define-color base12 #ff9148;
@define-color base13 #ffe449;
@define-color base14 #b1c93a;
@define-color base15 #ffbb51;
@define-color base16 #abb8ff;
@define-color base17 #fe9fff;
