/*
*
* base24 Ayu Mirage
* Author: Tinted Theming (https://github.com/tinted-theming), Ayu Theme (https://github.com/ayu-theme)
*
*/

@define-color base00 #1f2430;
@define-color base01 #242936;
@define-color base02 #323844;
@define-color base03 #4a5059;
@define-color base04 #707a8c;
@define-color base05 #cccac2;
@define-color base06 #d9d7ce;
@define-color base07 #f3f4f5;
@define-color base08 #f28779;
@define-color base09 #ffad66;
@define-color base0A #ffd173;
@define-color base0B #d5ff80;
@define-color base0C #95e6cb;
@define-color base0D #73d0ff;
@define-color base0E #d4bfff;
@define-color base0F #f27983;

@define-color base10 #171b24;
@define-color base11 #1a1f29;
@define-color base12 #ff6666;
@define-color base13 #ffcc66;
@define-color base14 #87d963;
@define-color base15 #5ccfe6;
@define-color base16 #80b0ff;
@define-color base17 #b692ff;
