/*
*
* base24 Hurtado
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #000000;
@define-color base01 #575757;
@define-color base02 #252525;
@define-color base03 #4e4e4e;
@define-color base04 #787878;
@define-color base05 #a1a1a1;
@define-color base06 #cbcbcb;
@define-color base07 #dbdbdb;
@define-color base08 #ff1b00;
@define-color base09 #fbe74a;
@define-color base0A #89bdff;
@define-color base0B #a5df55;
@define-color base0C #85e9fe;
@define-color base0D #486387;
@define-color base0E #fc5ef0;
@define-color base0F #7f0d00;

@define-color base10 #181818;
@define-color base11 #0c0c0c;
@define-color base12 #d41c00;
@define-color base13 #fbe749;
@define-color base14 #a5df55;
@define-color base15 #85e9fe;
@define-color base16 #89bdff;
@define-color base17 #bf00c0;
