/*
*
* base24 Bluloco Dark
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1e2027;
@define-color base01 #494f5c;
@define-color base02 #60697a;
@define-color base03 #7b8494;
@define-color base04 #969faf;
@define-color base05 #b1bac9;
@define-color base06 #ccd5e4;
@define-color base07 #fefefe;
@define-color base08 #f71041;
@define-color base09 #fc7e57;
@define-color base0A #189ffd;
@define-color base0B #23974a;
@define-color base0C #366f99;
@define-color base0D #285afe;
@define-color base0E #8c62fd;
@define-color base0F #7b0820;

@define-color base10 #404651;
@define-color base11 #202328;
@define-color base12 #fb496d;
@define-color base13 #f6bd47;
@define-color base14 #37bc58;
@define-color base15 #4fabad;
@define-color base16 #189ffd;
@define-color base17 #fb57f6;
