/*
*
* base24 Purple Rain
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #20084a;
@define-color base01 #000000;
@define-color base02 #555555;
@define-color base03 #7f7f7f;
@define-color base04 #a9aaaa;
@define-color base05 #d3d4d4;
@define-color base06 #feffff;
@define-color base07 #feffff;
@define-color base08 #ff260d;
@define-color base09 #ffc400;
@define-color base0A #00a5ff;
@define-color base0B #9ae204;
@define-color base0C #00ddef;
@define-color base0D #00a1f9;
@define-color base0E #805bb5;
@define-color base0F #7f1306;

@define-color base10 #383838;
@define-color base11 #1c1c1c;
@define-color base12 #ff4250;
@define-color base13 #ffd852;
@define-color base14 #b8e36d;
@define-color base15 #74fcf3;
@define-color base16 #00a5ff;
@define-color base17 #ab7aef;
