/*
*
* base24 Oceanic Material
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1c262b;
@define-color base01 #000000;
@define-color base02 #767676;
@define-color base03 #818181;
@define-color base04 #8d8d8d;
@define-color base05 #989898;
@define-color base06 #a4a4a4;
@define-color base07 #fffefe;
@define-color base08 #ee2a29;
@define-color base09 #fee92e;
@define-color base0A #53a4f3;
@define-color base0B #3fa33f;
@define-color base0C #16aec9;
@define-color base0D #1d80ef;
@define-color base0E #8800a0;
@define-color base0F #771514;

@define-color base10 #4e4e4e;
@define-color base11 #272727;
@define-color base12 #dc5b60;
@define-color base13 #fef063;
@define-color base14 #70be71;
@define-color base15 #42c6d9;
@define-color base16 #53a4f3;
@define-color base17 #a94dbb;
