/*
*
* base24 Night Owlish Light
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #ffffff;
@define-color base01 #e5e6e6;
@define-color base02 #cbcdcd;
@define-color base03 #b1b4b4;
@define-color base04 #717575;
@define-color base05 #585b5b;
@define-color base06 #3f4141;
@define-color base07 #011627;
@define-color base08 #d3423e;
@define-color base09 #daaa01;
@define-color base0A #dac801;
@define-color base0B #2aa298;
@define-color base0C #08916a;
@define-color base0D #4876d6;
@define-color base0E #403f53;
@define-color base0F #69211f;

@define-color base10 #515656;
@define-color base11 #282b2b;
@define-color base12 #f76e6e;
@define-color base13 #dac26b;
@define-color base14 #49d0c5;
@define-color base15 #00c990;
@define-color base16 #5ca7e4;
@define-color base17 #697098;
