/*
*
* base24 Fish Tank
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #222436;
@define-color base01 #03063c;
@define-color base02 #6c5a30;
@define-color base03 #8c7f63;
@define-color base04 #aca496;
@define-color base05 #ccc9c9;
@define-color base06 #eceffc;
@define-color base07 #f6ffec;
@define-color base08 #c60049;
@define-color base09 #fdcd5e;
@define-color base0A #b1bdf9;
@define-color base0B #abf157;
@define-color base0C #968662;
@define-color base0D #525fb8;
@define-color base0E #976f81;
@define-color base0F #630024;

@define-color base10 #483c20;
@define-color base11 #241e10;
@define-color base12 #d94a8a;
@define-color base13 #fee6a8;
@define-color base14 #daffa8;
@define-color base15 #a4bc86;
@define-color base16 #b1bdf9;
@define-color base17 #fda4cc;
