/*
*
* base24 Idea
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #202020;
@define-color base01 #acacac;
@define-color base02 #fffefe;
@define-color base03 #c5c5c5;
@define-color base04 #8b8b8b;
@define-color base05 #515151;
@define-color base06 #171717;
@define-color base07 #171717;
@define-color base08 #fb5255;
@define-color base09 #ccb343;
@define-color base0A #6c9bed;
@define-color base0B #98b61b;
@define-color base0C #248886;
@define-color base0D #437ee6;
@define-color base0E #9d73b0;
@define-color base0F #7d292a;

@define-color base10 #aaa9a9;
@define-color base11 #555454;
@define-color base12 #fc6f72;
@define-color base13 #ffff0a;
@define-color base14 #98b61b;
@define-color base15 #248886;
@define-color base16 #6c9bed;
@define-color base17 #fc7efe;
