/*
*
* base24 Dimmed Monokai
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1e1e1e;
@define-color base01 #3a3c43;
@define-color base02 #888987;
@define-color base03 #949593;
@define-color base04 #a0a2a0;
@define-color base05 #acafac;
@define-color base06 #b8bcb9;
@define-color base07 #fcffb8;
@define-color base08 #be3e48;
@define-color base09 #c4a535;
@define-color base0A #176ce3;
@define-color base0B #869a3a;
@define-color base0C #568ea3;
@define-color base0D #4e76a1;
@define-color base0E #855b8d;
@define-color base0F #5f1f24;

@define-color base10 #5a5b5a;
@define-color base11 #2d2d2d;
@define-color base12 #fb001e;
@define-color base13 #c37033;
@define-color base14 #0e712e;
@define-color base15 #2d6f6c;
@define-color base16 #176ce3;
@define-color base17 #fb0067;
