/*
*
* base24 Zenburn
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #3f3f3f;
@define-color base01 #4d4d4d;
@define-color base02 #709080;
@define-color base03 #8ba393;
@define-color base04 #a6b6a6;
@define-color base05 #c1c9b9;
@define-color base06 #dcdccc;
@define-color base07 #ffffff;
@define-color base08 #705050;
@define-color base09 #f0dfaf;
@define-color base0A #94bff3;
@define-color base0B #60b48a;
@define-color base0C #8cd0d3;
@define-color base0D #506070;
@define-color base0E #dc8cc3;
@define-color base0F #382828;

@define-color base10 #4a6055;
@define-color base11 #25302a;
@define-color base12 #dca3a3;
@define-color base13 #e0cf9f;
@define-color base14 #c3bf9f;
@define-color base15 #93e0e3;
@define-color base16 #94bff3;
@define-color base17 #ec93d3;
