/*
*
* base24 Material
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #eaeaea;
@define-color base01 #212121;
@define-color base02 #424242;
@define-color base03 #6d6d6d;
@define-color base04 #989898;
@define-color base05 #c3c3c3;
@define-color base06 #eeeeee;
@define-color base07 #d8d8d8;
@define-color base08 #b7141e;
@define-color base09 #f5971d;
@define-color base0A #53a4f3;
@define-color base0B #457b23;
@define-color base0C #0e707c;
@define-color base0D #134eb2;
@define-color base0E #550087;
@define-color base0F #5b0a0f;

@define-color base10 #2c2c2c;
@define-color base11 #161616;
@define-color base12 #e83a3f;
@define-color base13 #fee92e;
@define-color base14 #7aba39;
@define-color base15 #26bad1;
@define-color base16 #53a4f3;
@define-color base17 #a94dbb;
