/*
*
* base24 Shaman
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #001014;
@define-color base01 #012026;
@define-color base02 #374350;
@define-color base03 #394751;
@define-color base04 #3b4c52;
@define-color base05 #3d5053;
@define-color base06 #405554;
@define-color base07 #58fad6;
@define-color base08 #b12f2c;
@define-color base09 #5d8aa9;
@define-color base0A #61d4b9;
@define-color base0B #00a940;
@define-color base0C #5c7e19;
@define-color base0D #449985;
@define-color base0E #00599c;
@define-color base0F #581716;

@define-color base10 #242c35;
@define-color base11 #12161a;
@define-color base12 #ff4242;
@define-color base13 #8dd3fd;
@define-color base14 #2aea5e;
@define-color base15 #98cf28;
@define-color base16 #61d4b9;
@define-color base17 #1298ff;
