/*
*
* base24 Gruvbox Light
* Author: Tinted Theming (https://github.com/tinted-theming), morhetz (https://github.com/morhetz/gruvbox)
*
*/

@define-color base00 #fbf1c7;
@define-color base01 #ebdbb2;
@define-color base02 #d5c4a1;
@define-color base03 #bdae93;
@define-color base04 #7c6f64;
@define-color base05 #3c3836;
@define-color base06 #282828;
@define-color base07 #1d2021;
@define-color base08 #cc241d;
@define-color base09 #d65d0e;
@define-color base0A #d79921;
@define-color base0B #98971a;
@define-color base0C #689d6a;
@define-color base0D #458588;
@define-color base0E #b16286;
@define-color base0F #9d0006;

@define-color base10 #f9f6d7;
@define-color base11 #fbf9e4;
@define-color base12 #9d0006;
@define-color base13 #b57614;
@define-color base14 #79740e;
@define-color base15 #427b58;
@define-color base16 #076678;
@define-color base17 #8f3f71;
