/*
*
* base24 Grape
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #161423;
@define-color base01 #2d283e;
@define-color base02 #58506a;
@define-color base03 #696377;
@define-color base04 #7b7785;
@define-color base05 #8c8a92;
@define-color base06 #9e9ea0;
@define-color base07 #a188f7;
@define-color base08 #ec2160;
@define-color base09 #8ddc1f;
@define-color base0A #a9bbeb;
@define-color base0B #1fa91b;
@define-color base0C #3added;
@define-color base0D #487cf4;
@define-color base0E #8c35c8;
@define-color base0F #761030;

@define-color base10 #3a3546;
@define-color base11 #1d1a23;
@define-color base12 #f0719a;
@define-color base13 #b2dc87;
@define-color base14 #52a95d;
@define-color base15 #9ce3ea;
@define-color base16 #a9bbeb;
@define-color base17 #ac81c1;
