/*
*
* base24 Space Gray Eighties Dull
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #212121;
@define-color base01 #15171c;
@define-color base02 #555555;
@define-color base03 #6c6d70;
@define-color base04 #83868b;
@define-color base05 #9a9fa6;
@define-color base06 #b2b8c2;
@define-color base07 #ffffff;
@define-color base08 #b14956;
@define-color base09 #c6725a;
@define-color base0A #5485c0;
@define-color base0B #91b377;
@define-color base0C #7fcccb;
@define-color base0D #7b8fa4;
@define-color base0E #a5779e;
@define-color base0F #58242b;

@define-color base10 #383838;
@define-color base11 #1c1c1c;
@define-color base12 #ec5f67;
@define-color base13 #fdc253;
@define-color base14 #88e985;
@define-color base15 #58c2c0;
@define-color base16 #5485c0;
@define-color base17 #bf83c0;
