/*
*
* base24 Royal
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #100814;
@define-color base01 #241f2a;
@define-color base02 #312d3c;
@define-color base03 #393446;
@define-color base04 #413b50;
@define-color base05 #49425a;
@define-color base06 #514965;
@define-color base07 #9d8bbd;
@define-color base08 #90274b;
@define-color base09 #b49d27;
@define-color base0A #8fb9f9;
@define-color base0B #23801c;
@define-color base0C #8aaabd;
@define-color base0D #6480af;
@define-color base0E #664d96;
@define-color base0F #481325;

@define-color base10 #201e28;
@define-color base11 #100f14;
@define-color base12 #d4346c;
@define-color base13 #fde83a;
@define-color base14 #2cd845;
@define-color base15 #abd3eb;
@define-color base16 #8fb9f9;
@define-color base17 #a479e2;
