/*
*
* base24 Dark Plus
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #0e0e0e;
@define-color base01 #000000;
@define-color base02 #666666;
@define-color base03 #858585;
@define-color base04 #a5a5a5;
@define-color base05 #c5c5c5;
@define-color base06 #e5e5e5;
@define-color base07 #e5e5e5;
@define-color base08 #cd3131;
@define-color base09 #e5e510;
@define-color base0A #3b8eea;
@define-color base0B #0dbc79;
@define-color base0C #11a8cd;
@define-color base0D #2472c8;
@define-color base0E #bc3fbc;
@define-color base0F #661818;

@define-color base10 #444444;
@define-color base11 #222222;
@define-color base12 #f14c4c;
@define-color base13 #f5f543;
@define-color base14 #23d18b;
@define-color base15 #29b8db;
@define-color base16 #3b8eea;
@define-color base17 #d670d6;
