/*
*
* base24 Unikitty
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #ff7ad3;
@define-color base01 #0c0c0c;
@define-color base02 #424242;
@define-color base03 #696769;
@define-color base04 #918c91;
@define-color base05 #b9b1b8;
@define-color base06 #e1d6e0;
@define-color base07 #fff2fd;
@define-color base08 #a80f20;
@define-color base09 #eeaa4b;
@define-color base0A #eedf4b;
@define-color base0B #bafc8b;
@define-color base0C #6bd0bc;
@define-color base0D #145fcd;
@define-color base0E #ff36a2;
@define-color base0F #540710;

@define-color base10 #2c2c2c;
@define-color base11 #161616;
@define-color base12 #d81329;
@define-color base13 #ffee50;
@define-color base14 #d2ffaf;
@define-color base15 #79ebd5;
@define-color base16 #0074ea;
@define-color base17 #fdd5e5;
