/*
*
* base24 Hopscotch
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #322931;
@define-color base01 #322931;
@define-color base02 #797379;
@define-color base03 #898388;
@define-color base04 #999498;
@define-color base05 #a9a4a8;
@define-color base06 #b9b5b8;
@define-color base07 #ffffff;
@define-color base08 #dd464c;
@define-color base09 #fdcc59;
@define-color base0A #989498;
@define-color base0B #8fc13e;
@define-color base0C #149b93;
@define-color base0D #1290bf;
@define-color base0E #c85e7c;
@define-color base0F #6e2326;

@define-color base10 #504c50;
@define-color base11 #282628;
@define-color base12 #fd8b19;
@define-color base13 #5c545b;
@define-color base14 #433b42;
@define-color base15 #b33508;
@define-color base16 #989498;
@define-color base17 #d5d3d5;
