/*
*
* base24 Adventure Time
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1e1c44;
@define-color base01 #050404;
@define-color base02 #4e7bbf;
@define-color base03 #7893bf;
@define-color base04 #a3abbf;
@define-color base05 #cdc3bf;
@define-color base06 #f8dbc0;
@define-color base07 #f5f4fb;
@define-color base08 #bc0013;
@define-color base09 #e6741d;
@define-color base0A #1896c6;
@define-color base0B #49b117;
@define-color base0C #6fa497;
@define-color base0D #0f49c6;
@define-color base0E #665992;
@define-color base0F #5e0009;

@define-color base10 #34527f;
@define-color base11 #1a293f;
@define-color base12 #fc5e59;
@define-color base13 #efc11a;
@define-color base14 #9dff6e;
@define-color base15 #c8f9f3;
@define-color base16 #1896c6;
@define-color base17 #9a5952;
