/*
*
* base24 Sparky
* Author: Leila Sother (https://github.com/mixcoac)
*
*/

@define-color base00 #072b31;
@define-color base01 #00313c;
@define-color base02 #003c46;
@define-color base03 #003b49;
@define-color base04 #00778b;
@define-color base05 #f4f5f0;
@define-color base06 #f5f5f1;
@define-color base07 #ffffff;
@define-color base08 #ff585d;
@define-color base09 #ff8f1c;
@define-color base0A #fbdd40;
@define-color base0B #78d64b;
@define-color base0C #2dccd3;
@define-color base0D #4698cb;
@define-color base0E #d59ed7;
@define-color base0F #9b704d;

@define-color base10 #4b4f54;
@define-color base11 #212322;
@define-color base12 #ff7276;
@define-color base13 #f6eb61;
@define-color base14 #8edd65;
@define-color base15 #00c1d5;
@define-color base16 #69b3e7;
@define-color base17 #f99fc9;
