/*
*
* base24 Framer
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #111111;
@define-color base01 #141414;
@define-color base02 #414141;
@define-color base03 #636363;
@define-color base04 #868686;
@define-color base05 #a9a9a9;
@define-color base06 #cccccc;
@define-color base07 #ffffff;
@define-color base08 #ff5555;
@define-color base09 #ffcc33;
@define-color base0A #33bbff;
@define-color base0B #98ec65;
@define-color base0C #88ddff;
@define-color base0D #00aaff;
@define-color base0E #aa88ff;
@define-color base0F #7f2a2a;

@define-color base10 #2b2b2b;
@define-color base11 #151515;
@define-color base12 #ff8888;
@define-color base13 #ffd966;
@define-color base14 #b6f292;
@define-color base15 #bbecff;
@define-color base16 #33bbff;
@define-color base17 #cebbff;
