/*
*
* base24 Warm Neon
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #3f3f3f;
@define-color base01 #000000;
@define-color base02 #fdfcfc;
@define-color base03 #f2ebe6;
@define-color base04 #e7dad0;
@define-color base05 #dcc9ba;
@define-color base06 #d0b8a3;
@define-color base07 #d8c8bb;
@define-color base08 #e24345;
@define-color base09 #dae145;
@define-color base0A #7a90d5;
@define-color base0B #38b139;
@define-color base0C #29bad3;
@define-color base0D #4260c5;
@define-color base0E #f81ffb;
@define-color base0F #712122;

@define-color base10 #a8a8a8;
@define-color base11 #545454;
@define-color base12 #e86f71;
@define-color base13 #ddd979;
@define-color base14 #9bc08f;
@define-color base15 #5ed1e4;
@define-color base16 #7a90d5;
@define-color base17 #f674b9;
