/*
*
* base24 Flatland
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1c1e20;
@define-color base01 #1c1d19;
@define-color base02 #1c1d19;
@define-color base03 #545552;
@define-color base04 #8d8e8b;
@define-color base05 #c5c6c4;
@define-color base06 #fefffe;
@define-color base07 #fefffe;
@define-color base08 #f18238;
@define-color base09 #f3ef6d;
@define-color base0A #61b8d0;
@define-color base0B #9ed264;
@define-color base0C #d53864;
@define-color base0D #4f96be;
@define-color base0E #695abb;
@define-color base0F #78411c;

@define-color base10 #121310;
@define-color base11 #090908;
@define-color base12 #d12a24;
@define-color base13 #ff8948;
@define-color base14 #a7d32c;
@define-color base15 #d53864;
@define-color base16 #61b8d0;
@define-color base17 #695abb;
