/*
*
* base24 Dracula
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #282a36;
@define-color base01 #363447;
@define-color base02 #44475a;
@define-color base03 #6272a4;
@define-color base04 #9ea8c7;
@define-color base05 #f8f8f2;
@define-color base06 #f0f1f4;
@define-color base07 #ffffff;
@define-color base08 #ff5555;
@define-color base09 #ffb86c;
@define-color base0A #f1fa8c;
@define-color base0B #50fa7b;
@define-color base0C #8be9fd;
@define-color base0D #80bfff;
@define-color base0E #ff79c6;
@define-color base0F #bd93f9;

@define-color base10 #1e2029;
@define-color base11 #16171d;
@define-color base12 #f28c8c;
@define-color base13 #eef5a3;
@define-color base14 #a3f5b8;
@define-color base15 #baedf7;
@define-color base16 #a3ccf5;
@define-color base17 #f5a3d2;
