/*
*
* base24 Breeze
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #31363b;
@define-color base01 #31363b;
@define-color base02 #7f8c8d;
@define-color base03 #9ba5a6;
@define-color base04 #b7bebf;
@define-color base05 #d3d7d8;
@define-color base06 #eff0f1;
@define-color base07 #fcfcfc;
@define-color base08 #ed1515;
@define-color base09 #f67400;
@define-color base0A #3daee9;
@define-color base0B #11d116;
@define-color base0C #1abc9c;
@define-color base0D #1d99f3;
@define-color base0E #9b59b6;
@define-color base0F #760a0a;

@define-color base10 #545d5e;
@define-color base11 #2a2e2f;
@define-color base12 #c0392b;
@define-color base13 #fdbc4b;
@define-color base14 #1cdc9a;
@define-color base15 #16a085;
@define-color base16 #3daee9;
@define-color base17 #8e44ad;
