/*
*
* base24 Jellybeans
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #121212;
@define-color base01 #929292;
@define-color base02 #bdbdbd;
@define-color base03 #c5c5c5;
@define-color base04 #cdcdcd;
@define-color base05 #d5d5d5;
@define-color base06 #dedede;
@define-color base07 #ffffff;
@define-color base08 #e27373;
@define-color base09 #ffba7b;
@define-color base0A #b1d8f6;
@define-color base0B #93b979;
@define-color base0C #00988e;
@define-color base0D #97bedc;
@define-color base0E #e1c0fa;
@define-color base0F #713939;

@define-color base10 #7e7e7e;
@define-color base11 #3f3f3f;
@define-color base12 #ffa1a1;
@define-color base13 #ffdca0;
@define-color base14 #bddeab;
@define-color base15 #1ab2a8;
@define-color base16 #b1d8f6;
@define-color base17 #fbdaff;
