/*
*
* base24 Fideloper
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #282f32;
@define-color base01 #282f32;
@define-color base02 #092027;
@define-color base03 #415050;
@define-color base04 #79817a;
@define-color base05 #b1b1a3;
@define-color base06 #e9e2cd;
@define-color base07 #fcf4de;
@define-color base08 #ca1d2c;
@define-color base09 #b7aa9a;
@define-color base0A #7c84c4;
@define-color base0B #edb7ab;
@define-color base0C #309185;
@define-color base0D #2e78c1;
@define-color base0E #c0226e;
@define-color base0F #650e16;

@define-color base10 #06151a;
@define-color base11 #030a0d;
@define-color base12 #d35f5a;
@define-color base13 #a86571;
@define-color base14 #d35f5a;
@define-color base15 #81908f;
@define-color base16 #7c84c4;
@define-color base17 #5b5db2;
