/*
*
* base24 Espresso
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #262626;
@define-color base01 #343434;
@define-color base02 #535353;
@define-color base03 #797979;
@define-color base04 #a0a09f;
@define-color base05 #c7c7c5;
@define-color base06 #eeeeec;
@define-color base07 #ffffff;
@define-color base08 #d25151;
@define-color base09 #ffc66d;
@define-color base0A #8ab7d9;
@define-color base0B #a5c261;
@define-color base0C #bed6ff;
@define-color base0D #6c99bb;
@define-color base0E #d197d9;
@define-color base0F #692828;

@define-color base10 #373737;
@define-color base11 #1b1b1b;
@define-color base12 #f00c0c;
@define-color base13 #e1e38b;
@define-color base14 #c2e075;
@define-color base15 #dcf3ff;
@define-color base16 #8ab7d9;
@define-color base17 #efb5f7;
