/*
*
* base24 0x96f
* Author: Filip Janevski (https://0x96f.dev/theme)
*
*/

@define-color base00 #262427;
@define-color base01 #3b393c;
@define-color base02 #514f52;
@define-color base03 #676567;
@define-color base04 #7c7b7d;
@define-color base05 #fcfcfc;
@define-color base06 #eae9eb;
@define-color base07 #fcfcfc;
@define-color base08 #ff7272;
@define-color base09 #fc9d6f;
@define-color base0A #ffca58;
@define-color base0B #bcdf59;
@define-color base0C #aee8f4;
@define-color base0D #49cae4;
@define-color base0E #a093e2;
@define-color base0F #ff8787;

@define-color base10 #1e1d1f;
@define-color base11 #0f0e10;
@define-color base12 #ff8787;
@define-color base13 #ffd271;
@define-color base14 #c6e472;
@define-color base15 #baebf6;
@define-color base16 #64d2e8;
@define-color base17 #aea3e6;
