/*
*
* base24 Sleepy Hollow
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #121213;
@define-color base01 #572000;
@define-color base02 #4e4b60;
@define-color base03 #665e6c;
@define-color base04 #7e7278;
@define-color base05 #968684;
@define-color base06 #af9a91;
@define-color base07 #d1c7a9;
@define-color base08 #b93934;
@define-color base09 #b45600;
@define-color base0A #8085ef;
@define-color base0B #90773e;
@define-color base0C #8eaea9;
@define-color base0D #5e62b4;
@define-color base0E #a07c7b;
@define-color base0F #5c1c1a;

@define-color base10 #343240;
@define-color base11 #1a1920;
@define-color base12 #d9443e;
@define-color base13 #f66713;
@define-color base14 #d6b04e;
@define-color base15 #a4dbe7;
@define-color base16 #8085ef;
@define-color base17 #e1c2ba;
