/*
*
* base24 Operator Mono Dark
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #191919;
@define-color base01 #5a5a5a;
@define-color base02 #9a9a99;
@define-color base03 #a6a8a6;
@define-color base04 #b3b6b3;
@define-color base05 #c0c4c0;
@define-color base06 #cdd3cd;
@define-color base07 #fdfdf6;
@define-color base08 #ca372d;
@define-color base09 #d4d697;
@define-color base0A #89d3f6;
@define-color base0B #4d7b3a;
@define-color base0C #72d4c6;
@define-color base0D #4387cf;
@define-color base0E #b86cb4;
@define-color base0F #651b16;

@define-color base10 #666666;
@define-color base11 #333333;
@define-color base12 #c37d62;
@define-color base13 #fdfdc5;
@define-color base14 #83d0a2;
@define-color base15 #82e9da;
@define-color base16 #89d3f6;
@define-color base17 #fe2c79;
