/*
*
* base24 Elemental
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #21211c;
@define-color base01 #3c3b30;
@define-color base02 #545444;
@define-color base03 #5f5d50;
@define-color base04 #6a665c;
@define-color base05 #756f68;
@define-color base06 #807974;
@define-color base07 #fff1e8;
@define-color base08 #97280f;
@define-color base09 #7f7110;
@define-color base0A #78d8d8;
@define-color base0B #479942;
@define-color base0C #387f58;
@define-color base0D #497f7d;
@define-color base0E #7e4e2e;
@define-color base0F #4b1407;

@define-color base10 #38382d;
@define-color base11 #1c1c16;
@define-color base12 #df502a;
@define-color base13 #d69827;
@define-color base14 #60e06f;
@define-color base15 #58d598;
@define-color base16 #78d8d8;
@define-color base17 #cd7c53;
