/*
*
* base24 Pandora
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #131d42;
@define-color base01 #000000;
@define-color base02 #3e5548;
@define-color base03 #66786e;
@define-color base04 #8f9b94;
@define-color base05 #b8beba;
@define-color base06 #e1e1e1;
@define-color base07 #ffffff;
@define-color base08 #ff4242;
@define-color base09 #ffad29;
@define-color base0A #23d7d7;
@define-color base0B #74af68;
@define-color base0C #23d7d7;
@define-color base0D #338f86;
@define-color base0E #9413e5;
@define-color base0F #7f2121;

@define-color base10 #293830;
@define-color base11 #141c18;
@define-color base12 #ff3242;
@define-color base13 #ffb929;
@define-color base14 #74cd68;
@define-color base15 #00ede1;
@define-color base16 #23d7d7;
@define-color base17 #ff37ff;
