/*
*
* base24 Wild Cherry
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1f1626;
@define-color base01 #000506;
@define-color base02 #009cc9;
@define-color base03 #3fb3ce;
@define-color base04 #7fcad3;
@define-color base05 #bfe1d8;
@define-color base06 #fff8dd;
@define-color base07 #e4838d;
@define-color base08 #d94085;
@define-color base09 #ffd16f;
@define-color base0A #2f8bb9;
@define-color base0B #2ab250;
@define-color base0C #c1b8b7;
@define-color base0D #883cdc;
@define-color base0E #ececec;
@define-color base0F #6c2042;

@define-color base10 #006886;
@define-color base11 #003443;
@define-color base12 #da6bab;
@define-color base13 #eac066;
@define-color base14 #f4dba5;
@define-color base15 #ff919d;
@define-color base16 #2f8bb9;
@define-color base17 #ae636b;
