/*
*
* base24 Batman
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1b1d1e;
@define-color base01 #1b1d1e;
@define-color base02 #505354;
@define-color base03 #6d6f6e;
@define-color base04 #8a8c89;
@define-color base05 #a7a8a3;
@define-color base06 #c5c5be;
@define-color base07 #dadad5;
@define-color base08 #e6db43;
@define-color base09 #f3fd21;
@define-color base0A #909495;
@define-color base0B #c8be46;
@define-color base0C #615f5e;
@define-color base0D #737074;
@define-color base0E #737271;
@define-color base0F #736d21;

@define-color base10 #353738;
@define-color base11 #1a1b1c;
@define-color base12 #fff68d;
@define-color base13 #feed6c;
@define-color base14 #fff27c;
@define-color base15 #a2a2a5;
@define-color base16 #909495;
@define-color base17 #9a999d;
