/*
*
* base24 Hybrid
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #161718;
@define-color base01 #2a2e33;
@define-color base02 #1d1e21;
@define-color base03 #434446;
@define-color base04 #696b6b;
@define-color base05 #8f9190;
@define-color base06 #b5b8b6;
@define-color base07 #5a6169;
@define-color base08 #b74d50;
@define-color base09 #e3b55e;
@define-color base0A #4b6b88;
@define-color base0B #b3be5a;
@define-color base0C #7fbeb3;
@define-color base0D #6d90b0;
@define-color base0E #a07eab;
@define-color base0F #5b2628;

@define-color base10 #131416;
@define-color base11 #090a0b;
@define-color base12 #8c2d32;
@define-color base13 #e5894f;
@define-color base14 #788331;
@define-color base15 #4d7b73;
@define-color base16 #4b6b88;
@define-color base17 #6e4f79;
