/*
*
* base24 Cobalt2
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #122637;
@define-color base01 #000000;
@define-color base02 #555555;
@define-color base03 #6e6e6e;
@define-color base04 #888888;
@define-color base05 #a1a1a1;
@define-color base06 #bbbbbb;
@define-color base07 #ffffff;
@define-color base08 #ff0000;
@define-color base09 #fee409;
@define-color base0A #5555ff;
@define-color base0B #37dd21;
@define-color base0C #00bbbb;
@define-color base0D #1460d2;
@define-color base0E #ff005d;
@define-color base0F #7f0000;

@define-color base10 #383838;
@define-color base11 #1c1c1c;
@define-color base12 #f40d17;
@define-color base13 #ecc809;
@define-color base14 #3bcf1d;
@define-color base15 #6ae3f9;
@define-color base16 #5555ff;
@define-color base17 #ff55ff;
