/*
*
* base24 Later This Evening
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #212121;
@define-color base01 #313131;
@define-color base02 #4f4f4f;
@define-color base03 #6f6f6f;
@define-color base04 #8c8c8c;
@define-color base05 #a6a6a6;
@define-color base06 #bfbfbf;
@define-color base07 #d9d9d9;
@define-color base08 #d35a5f;
@define-color base09 #e5af89;
@define-color base0A #e5d289;
@define-color base0B #afba66;
@define-color base0C #91beb6;
@define-color base0D #a0b9d5;
@define-color base0E #bf92d5;
@define-color base0F #692d2f;

@define-color base10 #2d2f2f;
@define-color base11 #161717;
@define-color base12 #d3222e;
@define-color base13 #e4bd39;
@define-color base14 #aabb39;
@define-color base15 #5fbfad;
@define-color base16 #6599d5;
@define-color base17 #aa52d5;
