/*
*
* base24 Ultra Violet
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #242728;
@define-color base01 #232628;
@define-color base02 #626566;
@define-color base03 #818484;
@define-color base04 #a1a3a3;
@define-color base05 #c1c2c2;
@define-color base06 #e1e1e1;
@define-color base07 #f9f9f4;
@define-color base08 #ff0090;
@define-color base09 #fff727;
@define-color base0A #7febff;
@define-color base0B #b5ff00;
@define-color base0C #0effbb;
@define-color base0D #47dffb;
@define-color base0E #d630ff;
@define-color base0F #7f0048;

@define-color base10 #414344;
@define-color base11 #202122;
@define-color base12 #fb57b4;
@define-color base13 #ebdf86;
@define-color base14 #deff8b;
@define-color base15 #68fcd2;
@define-color base16 #7febff;
@define-color base17 #e681ff;
