/*
*
* base24 Solarized Dark Higher Contrast
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #001e26;
@define-color base01 #002731;
@define-color base02 #006388;
@define-color base03 #3a8298;
@define-color base04 #74a2a9;
@define-color base05 #aec2ba;
@define-color base06 #e9e2cb;
@define-color base07 #fcf4dc;
@define-color base08 #d01b24;
@define-color base09 #a57705;
@define-color base0A #178dc7;
@define-color base0B #6bbe6c;
@define-color base0C #259185;
@define-color base0D #2075c7;
@define-color base0E #c61b6e;
@define-color base0F #680d12;

@define-color base10 #00425a;
@define-color base11 #00212d;
@define-color base12 #f4153b;
@define-color base13 #b17e28;
@define-color base14 #50ee84;
@define-color base15 #00b29e;
@define-color base16 #178dc7;
@define-color base17 #e14d8e;
