/*
*
* base24 Thayer Bright
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1b1d1e;
@define-color base01 #1b1d1e;
@define-color base02 #505354;
@define-color base03 #6f7170;
@define-color base04 #8e8f8d;
@define-color base05 #adada9;
@define-color base06 #ccccc6;
@define-color base07 #f8f8f2;
@define-color base08 #f92672;
@define-color base09 #f3fd21;
@define-color base0A #3f78ff;
@define-color base0B #4df740;
@define-color base0C #37c8b4;
@define-color base0D #2656d6;
@define-color base0E #8c54fe;
@define-color base0F #7c1339;

@define-color base10 #353738;
@define-color base11 #1a1b1c;
@define-color base12 #ff5995;
@define-color base13 #feed6c;
@define-color base14 #b6e354;
@define-color base15 #23ced4;
@define-color base16 #3f78ff;
@define-color base17 #9e6ffe;
