/*
*
* base24 Brogrammer
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #131313;
@define-color base01 #1f1f1f;
@define-color base02 #2a3141;
@define-color base03 #343d50;
@define-color base04 #d6dae4;
@define-color base05 #c1c8d7;
@define-color base06 #e3e6ed;
@define-color base07 #ffffff;
@define-color base08 #f71118;
@define-color base09 #ecb90f;
@define-color base0A #0f80d5;
@define-color base0B #2cc55d;
@define-color base0C #0f80d5;
@define-color base0D #2a84d2;
@define-color base0E #4e59b7;
@define-color base0F #7b080c;

@define-color base10 #0a0a0a;
@define-color base11 #020202;
@define-color base12 #de342e;
@define-color base13 #f2bd09;
@define-color base14 #1dd260;
@define-color base15 #289af0;
@define-color base16 #509bdc;
@define-color base17 #524fb9;
