/*
*
* base24 Bluloco Light
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #f7f7f7;
@define-color base01 #cbccd4;
@define-color base02 #dddee8;
@define-color base03 #a6a7ae;
@define-color base04 #6f6f74;
@define-color base05 #38383a;
@define-color base06 #000000;
@define-color base07 #1c1d21;
@define-color base08 #c80d41;
@define-color base09 #d44d16;
@define-color base0A #1085d9;
@define-color base0B #208839;
@define-color base0C #1e4d7a;
@define-color base0D #1d44dd;
@define-color base0E #6d1bed;
@define-color base0F #640620;

@define-color base10 #93949a;
@define-color base11 #494a4d;
@define-color base12 #fb496d;
@define-color base13 #b79326;
@define-color base14 #34b253;
@define-color base15 #5a7fac;
@define-color base16 #1085d9;
@define-color base17 #c00cb2;
