/*
*
* base24 IC-Green-PPL
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #2c2c2c;
@define-color base01 #014401;
@define-color base02 #025c02;
@define-color base03 #3b843e;
@define-color base04 #74ad7a;
@define-color base05 #add5b6;
@define-color base06 #e6fef2;
@define-color base07 #e0f1dc;
@define-color base08 #fe2635;
@define-color base09 #76a830;
@define-color base0A #2efaeb;
@define-color base0B #41a638;
@define-color base0C #3ca078;
@define-color base0D #2ec3b9;
@define-color base0E #50a096;
@define-color base0F #7f131a;

@define-color base10 #013d01;
@define-color base11 #001e00;
@define-color base12 #b4fa5c;
@define-color base13 #dafa87;
@define-color base14 #aefa86;
@define-color base15 #3cfac8;
@define-color base16 #2efaeb;
@define-color base17 #50fafa;
