/*
*
* base24 Ollie
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #212024;
@define-color base01 #000000;
@define-color base02 #5a3625;
@define-color base03 #664b46;
@define-color base04 #726168;
@define-color base05 #7e7789;
@define-color base06 #8a8dab;
@define-color base07 #5b6da7;
@define-color base08 #ab2e30;
@define-color base09 #ab4200;
@define-color base0A #4487ff;
@define-color base0B #31ab60;
@define-color base0C #1fa5ab;
@define-color base0D #2c56ab;
@define-color base0E #af8427;
@define-color base0F #551718;

@define-color base10 #3c2418;
@define-color base11 #1e120c;
@define-color base12 #ff3d48;
@define-color base13 #ff5e1e;
@define-color base14 #3bff99;
@define-color base15 #1efaff;
@define-color base16 #4487ff;
@define-color base17 #ffc21c;
