/*
*
* base24 Blue Matrix
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #0f1115;
@define-color base01 #101116;
@define-color base02 #676767;
@define-color base03 #7f7f7f;
@define-color base04 #979797;
@define-color base05 #afafaf;
@define-color base06 #c7c7c7;
@define-color base07 #feffff;
@define-color base08 #ff567f;
@define-color base09 #fefc57;
@define-color base0A #6871ff;
@define-color base0B #00ff9b;
@define-color base0C #75c1fe;
@define-color base0D #00b0fe;
@define-color base0E #d47bfe;
@define-color base0F #7f2b3f;

@define-color base10 #444444;
@define-color base11 #222222;
@define-color base12 #ff6d67;
@define-color base13 #fefb67;
@define-color base14 #5ff967;
@define-color base15 #5ffdff;
@define-color base16 #6871ff;
@define-color base17 #d582eb;
