/*
*
* base24 Hivacruz
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #132537;
@define-color base01 #202746;
@define-color base02 #6b7394;
@define-color base03 #767d9c;
@define-color base04 #8188a4;
@define-color base05 #8c92ac;
@define-color base06 #979db4;
@define-color base07 #f5f7ff;
@define-color base08 #c94922;
@define-color base09 #c08b30;
@define-color base0A #898ea4;
@define-color base0B #ac9739;
@define-color base0C #22a2c9;
@define-color base0D #3d8fd1;
@define-color base0E #6679cc;
@define-color base0F #642411;

@define-color base10 #474c62;
@define-color base11 #232631;
@define-color base12 #c76b29;
@define-color base13 #5e6687;
@define-color base14 #73ad43;
@define-color base15 #9c637a;
@define-color base16 #898ea4;
@define-color base17 #dfe2f1;
