/*
*
* base24 Misterioso
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #2d3743;
@define-color base01 #000000;
@define-color base02 #555555;
@define-color base03 #787877;
@define-color base04 #9b9b9a;
@define-color base05 #bebebd;
@define-color base06 #e1e1e0;
@define-color base07 #ffffff;
@define-color base08 #ff4242;
@define-color base09 #ffad29;
@define-color base0A #23d7d7;
@define-color base0B #74af68;
@define-color base0C #23d7d7;
@define-color base0D #338f86;
@define-color base0E #9413e5;
@define-color base0F #7f2121;

@define-color base10 #383838;
@define-color base11 #1c1c1c;
@define-color base12 #ff3242;
@define-color base13 #ffb929;
@define-color base14 #74cd68;
@define-color base15 #00ede1;
@define-color base16 #23d7d7;
@define-color base17 #ff37ff;
