/*
*
* base24 Blue Berry Pie
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1c0b28;
@define-color base01 #0a4b61;
@define-color base02 #1f1637;
@define-color base03 #534a5e;
@define-color base04 #877e86;
@define-color base05 #bbb2ad;
@define-color base06 #f0e7d5;
@define-color base07 #0a6b7e;
@define-color base08 #99236d;
@define-color base09 #e9b8a7;
@define-color base0A #38163d;
@define-color base0B #5bb0b2;
@define-color base0C #7e82cc;
@define-color base0D #90a5bc;
@define-color base0E #9d53a7;
@define-color base0F #4c1136;

@define-color base10 #140e24;
@define-color base11 #0a0712;
@define-color base12 #c77171;
@define-color base13 #793188;
@define-color base14 #0a6b7e;
@define-color base15 #5d5f71;
@define-color base16 #38163d;
@define-color base17 #bc93b6;
