/*
*
* base24 Pro Light
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #feffff;
@define-color base01 #f1f1f1;
@define-color base02 #dcdcdc;
@define-color base03 #cccccc;
@define-color base04 #757575;
@define-color base05 #4f4f4f;
@define-color base06 #323232;
@define-color base07 #000000;
@define-color base08 #e4492b;
@define-color base09 #c58e40;
@define-color base0A #c5c340;
@define-color base0B #50d048;
@define-color base0C #4ed1dd;
@define-color base0D #3a75ff;
@define-color base0E #ec65e7;
@define-color base0F #722415;

@define-color base10 #6a6a6a;
@define-color base11 #353535;
@define-color base12 #ff6640;
@define-color base13 #f2f055;
@define-color base14 #61ee56;
@define-color base15 #60f6f8;
@define-color base16 #0081ff;
@define-color base17 #ff7dfe;
