/*
*
* base24 3024 Night
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #090300;
@define-color base01 #090300;
@define-color base02 #5c5855;
@define-color base03 #6e6a68;
@define-color base04 #807d7b;
@define-color base05 #928f8e;
@define-color base06 #a5a2a2;
@define-color base07 #f7f7f7;
@define-color base08 #db2d20;
@define-color base09 #fded02;
@define-color base0A #807d7c;
@define-color base0B #01a252;
@define-color base0C #b5e4f4;
@define-color base0D #01a0e4;
@define-color base0E #a16a94;
@define-color base0F #6d1610;

@define-color base10 #3d3a38;
@define-color base11 #1e1d1c;
@define-color base12 #e8bbd0;
@define-color base13 #4a4543;
@define-color base14 #3a3432;
@define-color base15 #cdab53;
@define-color base16 #807d7c;
@define-color base17 #d6d5d4;
