/*
*
* base24 Banana Blueberry
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #191322;
@define-color base01 #16141e;
@define-color base02 #485161;
@define-color base03 #727985;
@define-color base04 #9ca1a9;
@define-color base05 #c6c9cd;
@define-color base06 #f1f1f1;
@define-color base07 #feffff;
@define-color base08 #ff6a7e;
@define-color base09 #e5c62f;
@define-color base0A #91fff3;
@define-color base0B #00bc9b;
@define-color base0C #55b6c1;
@define-color base0D #22e8df;
@define-color base0E #dc3969;
@define-color base0F #7f353f;

@define-color base10 #303640;
@define-color base11 #181b20;
@define-color base12 #fd9ea1;
@define-color base13 #f9e46a;
@define-color base14 #97c378;
@define-color base15 #bcf2fe;
@define-color base16 #91fff3;
@define-color base17 #da70d5;
