/*
*
* base24 Spiderman
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #1b1d1e;
@define-color base01 #1b1d1e;
@define-color base02 #505354;
@define-color base03 #7b7d7c;
@define-color base04 #a7a8a5;
@define-color base05 #d3d3cd;
@define-color base06 #fffef6;
@define-color base07 #fefff9;
@define-color base08 #e60712;
@define-color base09 #e24655;
@define-color base0A #1d4fff;
@define-color base0B #e22828;
@define-color base0C #3255ff;
@define-color base0D #2b3fff;
@define-color base0E #2435db;
@define-color base0F #730309;

@define-color base10 #353738;
@define-color base11 #1a1b1c;
@define-color base12 #ff0325;
@define-color base13 #fe3935;
@define-color base14 #ff3238;
@define-color base15 #6083ff;
@define-color base16 #1d4fff;
@define-color base17 #737bff;
