/*
*
* base24 Molokai
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #121212;
@define-color base01 #121212;
@define-color base02 #555555;
@define-color base03 #6e6e6e;
@define-color base04 #888888;
@define-color base05 #a1a1a1;
@define-color base06 #bbbbbb;
@define-color base07 #ffffff;
@define-color base08 #fa2573;
@define-color base09 #dfd460;
@define-color base0A #00afff;
@define-color base0B #97e123;
@define-color base0C #42a7cf;
@define-color base0D #0f7fcf;
@define-color base0E #8700ff;
@define-color base0F #7d1239;

@define-color base10 #383838;
@define-color base11 #1c1c1c;
@define-color base12 #f5669c;
@define-color base13 #fef26c;
@define-color base14 #b0e05e;
@define-color base15 #50cdfe;
@define-color base16 #00afff;
@define-color base17 #af87ff;
