/*
*
* base24 Solarized Dark Patched
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #001e26;
@define-color base01 #002731;
@define-color base02 #465a61;
@define-color base03 #6e7c7b;
@define-color base04 #979e96;
@define-color base05 #c0c0b0;
@define-color base06 #e9e2cb;
@define-color base07 #fcf4dc;
@define-color base08 #d01b24;
@define-color base09 #a57705;
@define-color base0A #708183;
@define-color base0B #728905;
@define-color base0C #259185;
@define-color base0D #2075c7;
@define-color base0E #c61b6e;
@define-color base0F #680d12;

@define-color base10 #2e3c40;
@define-color base11 #171e20;
@define-color base12 #bd3612;
@define-color base13 #52676f;
@define-color base14 #465a61;
@define-color base15 #81908f;
@define-color base16 #708183;
@define-color base17 #5856b9;
