/*
*
* base24 Espresso Libre
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #2a211c;
@define-color base01 #000000;
@define-color base02 #545753;
@define-color base03 #737772;
@define-color base04 #939791;
@define-color base05 #b3b7b0;
@define-color base06 #d3d7cf;
@define-color base07 #ededec;
@define-color base08 #cc0000;
@define-color base09 #efe43a;
@define-color base0A #43a8ed;
@define-color base0B #1a921c;
@define-color base0C #05989a;
@define-color base0D #0066ff;
@define-color base0E #c5656b;
@define-color base0F #660000;

@define-color base10 #383a37;
@define-color base11 #1c1d1b;
@define-color base12 #ef2828;
@define-color base13 #fffa5c;
@define-color base14 #9aff87;
@define-color base15 #34e2e2;
@define-color base16 #43a8ed;
@define-color base17 #ff8089;
