/*
*
* base24 Fun Forrest
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #241200;
@define-color base01 #000000;
@define-color base02 #7e6954;
@define-color base03 #957f58;
@define-color base04 #ad955c;
@define-color base05 #c5ab60;
@define-color base06 #ddc165;
@define-color base07 #ffe9a3;
@define-color base08 #d5252b;
@define-color base09 #bd8a13;
@define-color base0A #7cc9ce;
@define-color base0B #909b00;
@define-color base0C #d98112;
@define-color base0D #4698a2;
@define-color base0E #8c4231;
@define-color base0F #6a1215;

@define-color base10 #544638;
@define-color base11 #2a231c;
@define-color base12 #e4591b;
@define-color base13 #ffca1b;
@define-color base14 #bfc659;
@define-color base15 #e6a96b;
@define-color base16 #7cc9ce;
@define-color base17 #d16349;
